.el-text {
  white-space: pre-wrap;
  max-width: 100%;
}

.el-text.el-text--size-small {
  /* font-size: var(--font-size-extra-small); */
  font-size: 12px;
}

.el-text.el-text--size-normal {
  /* font-size: var(--font-size-base); */
  font-size: 14px;
}

.el-text.el-text--size-large {
  /* font-size: var(--font-size-medium); */
  font-size: 16px;
}

.el-text.el-text--size-huge {
  /* font-size: var(--font-size-large); */
  font-size: 18px;
}

.el-text.el-text--weight-normal {
  font-weight: normal;
}

.el-text.el-text--weight-bold {
  font-weight: bold;
}

.el-text.el-text--color-default {
  color: inherit;
}

.el-text.el-text--color-primary {
  /* color: var(--color-primary); */
  color: #409eff;
}

.el-text.el-text--color-secondary {
  /* color: var(--el-color-text-2); */
  color: #606266;
}

.el-text.el-text--color-success {
  /* color: var(--color-success); */
  color: #67c23a;
}

.el-text.el-text--color-warning {
  /* color: var(--color-warning); */
  color: #e6a23c;
}

.el-text.el-text--color-error {
  /* color: var(--color-error); */
  color: #f56c6c;
}

.el-text.el-text--color-disabled {
  /* color: var(--font-color-disabled-base); */
  color: #bbb;
}

.el-text.el-text--overflow-ellipsis,
.el-text.el-text--wrap-ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.el-text.el-text--overflow-break, .el-text.el-text--wrap-break {
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal;
  max-width: 100%;
}

.el-text.el-text--overflow-nowrap, .el-text.el-text--wrap-nowrap {
  white-space: nowrap;
}

.el-text.el-text--display-block {
  display: block;
}
