.cw-checkbox-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.el-checkbox-group-vertical {
  flex-direction: column;
  align-items: flex-start;
}

.el-checkbox-group-vertical .el-checkbox {
  margin-right: 30px;
}

.el-checkbox-group-preview {
  font-size: 14px;
  line-height: 14px;
  // 如果没有 .is-checked 元素，显示 '-'
  &:not(:has(.is-checked))::before {
    content: '-';
  }

  .el-checkbox.is-checked:has(+ .el-checkbox.is-checked) .el-checkbox__label::after {
    content: ',';
  }

  .el-checkbox {
    cursor: default;
    margin: 0;

    &:not(.is-checked) {
      display: none;
    }

    .el-checkbox__input {
      display: none;
    }

    .el-checkbox__label.el-checkbox__label {
      cursor: default;
      .el-text {
        color: #606266;
        cursor: default;
      }
    }
  }
}
