/**
 * @component el-tag-input-pro
 */
:root {
  /**
   * @desc 小号标签输入框的高度
   * @type size
   */
  --el-tag-input-height-s: var(--el-comp-size-xs);

  /**
   * @desc 默认标签输入框的高度
   * @type size
   */
  --el-tag-input-height-default: var(--el-comp-size-m);

  /**
   * @desc 大号标签输入框的高度
   * @type size
   */
  --el-tag-input-height-l: var(--el-comp-size-xl);

  /**
   * @desc 默认标签输入框的内边距
   * @type size
   */
  --el-tag-input-padding-default: calc(var(--el-comp-margin-xs) - 1px);

  /**
   * @desc 中号标签输入框清除图标的内边距
   * @type size
   */
  --el-tag-input-clear-icon-padding-m: calc(var(--el-comp-paddingLR-xxl) + var(--el-comp-paddingLR-xxs));

  /**
   * @desc 大号标签输入框清除图标的内边距
   * @type size
   */
  --el-tag-input-clear-icon-padding-l: calc(var(--el-comp-paddingLR-xxl) + var(--el-comp-paddingLR-xs));
}
