.titem div[uname="tail"]{
    border-left: 1px solid var(--process-record-tail-border-color);
}
.item {
    display: flex;
}
.left {
    min-width: 9%;
    margin-right: 10px;
}
.label {
    color: var(--process-record-label-color);
}
.value {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.title {
    font-weight: 500;
    color: var(--process-record-title-color);
    padding-top: 1px;
}

.dot {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    color: white;
}
.dot[status="success"] {
    background-color: var(--process-record-dot-success-backgroundcolor);
}
.dot[status="error"] {
    background-color: var(--process-record-dot-error-backgroundcolor);
}
.dot[status="success"]::before,
.dot[status="error"]::before{
    display: inline-block;
    position: relative;
    top: -1px;
    
    font-family: "lcap-ui-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 8px;
}
.dot[status="success"]::before {
    content: "\e648";
}
.dot[status="error"]::before {
    content: "\e662";
}
.dot[status="normal"] {
    background-color: var(--process-record-dot-normal-backgroundcolor);
    border: 2px solid var(--process-record-dot-normal-border-color);
}
.dstatus {
    width: 240px;
    text-align: center;
    color: #999;
}
.statuslabel {
    display: inline-block;
}
.statuslabel[status="approve"] {
    padding: 0px 8px;
    border-radius: 2px;
    background-color: var(--process-record-statuslabel-success-backgroundcolor);
    color: var(--process-record-statuslabel-success-color);
}
.statuslabel[status="reject"] {
    padding: 0px 8px;
    border-radius: 2px;
    background-color: var(--process-record-statuslabel-error-backgroundcolor);
    color: var(--process-record-statuslabel-error-color);
}

.timeline {
    margin-left: 6px;
}

.titem[designer="true"] [class^="u-timeline_item_content__"] {
    top: -8px;
}