/**
 * @component van-checkbox-group
 */
:root,
:host {
  /**
   * @type input
   */
  --van-checkbox-size: 20px;
  /**
   * @type color
   */
  --van-checkbox-border-color: var(--van-gray-5);
  /**
   * @type input
   */
  --van-checkbox-duration: var(--van-duration-fast);
  /**
   * @type input
   */
  --van-checkbox-label-margin: var(--van-padding-xs);
  /**
   * @type color
   */
  --van-checkbox-label-color: var(--van-text-color);
  /**
   * @type color
   */
  --van-checkbox-checked-icon-color: var(--van-primary-color);
  /**
   * @type color
   */
  --van-checkbox-disabled-icon-color: var(--van-gray-5);
  /**
   * @type color
   */
  --van-checkbox-disabled-label-color: var(--van-text-color-3);
  /**
   * @type color
   */
  --van-checkbox-disabled-background: var(--van-border-color);
}