/**
 * @component el-select-pro
 */
:root {
  /**
   * @desc 选择框背景色
   * @type color
   */
  --el-select-bg-color: var(--el-bg-color-specialcomponent);

  /**
   * @desc 选择框边框颜色
   * @type color
   */
  --el-select-border-color: var(--el-border-level-2-color);

  /**
   * @desc 选择框激活状态边框颜色
   * @type color
   */
  --el-select-border-color-active: var(--el-brand-color);

  /**
   * @desc 选中项颜色
   * @type color
   */
  --el-select-selected-color: var(--el-brand-color);

  /**
   * @desc 选中项背景色
   * @type color
   */
  --el-select-selected-bg-color: var(--el-brand-color-light);

  /**
   * @desc 选中项悬停背景色
   * @type color
   */
  --el-select-selected-bg-color-hover: var(--el-select-selected-bg-color);

  /**
   * @desc 选项悬停背景色
   * @type color
   */
  --el-select-option-bg-color-hover: var(--el-bg-color-container-hover);

  /**
   * @desc 选项激活背景色
   * @type color
   */
  --el-select-option-bg-color-active: var(--el-bg-color-container-active);

  /**
   * @desc 选项复选框颜色
   * @type color
   */
  --el-select-option-checkbox-color: var(--el-bg-color-container-hover);

  /**
   * @desc 选项组标题颜色
   * @type color
   */
  --el-select-option-group-header-color: var(--el-text-color-placeholder);

  /**
   * @desc 选项颜色
   * @type color
   */
  --el-select-option-color: var(--el-text-color-primary);

  /**
   * @desc 禁用状态选择框背景色
   * @type color
   */
  --el-select-bg-color-disabled: var(--el-bg-color-component-disabled);

  /**
   * @desc 占位符颜色
   * @type color
   */
  --el-select-placeholder-color: var(--el-text-color-placeholder);

  /**
   * @desc 禁用状态占位符颜色
   * @type color
   */
  --el-select-placeholder-color-disabled: var(--el-text-color-disabled);

  /**
   * @desc 禁用状态文字颜色
   * @type color
   */
  --el-select-color-disabled: var(--el-text-color-disabled);

  /**
   * @desc 空状态文字颜色
   * @type color
   */
  --el-select-color-empty: var(--el-text-color-disabled);

  /**
   * @desc 图标颜色
   * @type color
   */
  --el-select-icon-color: var(--el-text-color-placeholder);

  /**
   * @desc 禁用状态图标颜色
   * @type color
   */
  --el-select-icon-color-disabled: var(--el-text-color-disabled);

  /**
   * @desc 选项组边框颜色
   * @type color
   */
  --el-select-optiongroup-border-color: var(--el-border-level-1-color);

  /**
   * @desc 输入框文字颜色
   * @type color
   */
  --el-select-input-color: var(--el-text-color-primary);

  /**
   * @desc 选项复选框标签悬停颜色
   * @type color
   */
  --el-select-option-checkbox-label-color-hover: inherit;

  /**
   * @desc 选项复选框输入悬停颜色
   * @type color
   */
  --el-select-option-checkbox-input-color-hover: var(--el-brand-color);

  /**
   * @desc 右侧图标悬停颜色
   * @type color
   */
  --el-select-right-icon-hover: var(--el-brand-color);

  /**
   * @desc 小号选择框高度
   * @type size
   */
  --el-select-height-s: var(--el-comp-size-xs);

  /**
   * @desc 默认选择框高度
   * @type size
   */
  --el-select-height-default: var(--el-comp-size-m);

  /**
   * @desc 大号选择框高度
   * @type size
   */
  --el-select-height-l: var(--el-comp-size-xl);

  /**
   * @desc 小号选项高度
   * @type size
   */
  --el-select-option-height-s: var(--el-comp-size-xxs);

  /**
   * @desc 默认选项高度
   * @type size
   */
  --el-select-option-height-default: var(--el-comp-size-s);

  /**
   * @desc 大号选项高度
   * @type size
   */
  --el-select-option-height-l: var(--el-comp-size-l);

  /**
   * @desc 下拉框最大高度
   * @type size
   */
  --el-select-dropdown-max-height: 300px;

  /**
   * @desc 小号字体
   * @type font
   */
  --el-select-font-s: var(--el-font-body-small);

  /**
   * @desc 大号字体
   * @type font
   */
  --el-select-font-l: var(--el-font-body-large);

  /**
   * @desc 中号字体
   * @type font
   */
  --el-select-font-m: var(--el-font-body-medium);

  /**
   * @desc 下拉框阴影
   * @type shadow
   */
  --el-select-dropdown-shadow: var(--el-shadow-2);

  /**
   * @desc 输入框阴影
   * @type shadow
   */
  --el-select-input-shadow: 0 0 0 2px var(--el-brand-color-focus);

  /**
   * @desc 边框圆角
   * @type size
   */
  --el-select-border-radius: var(--el-radius-default);

  /**
   * @desc 选项边框圆角
   * @type size
   */
  --el-select-option-border-radius: var(--el-radius-default);

  /**
   * @desc 小号选项内边距
   * @type size
   */
  --el-select-option-padding-s: 0 var(--el-comp-paddingLR-s);

  /**
   * @desc 默认选项内边距
   * @type size
   */
  --el-select-option-padding-default: 0 var(--el-comp-paddingLR-s);

  /**
   * @desc 大号选项内边距
   * @type size
   */
  --el-select-option-padding-l: 0 var(--el-comp-paddingLR-m);

  /**
   * @desc 选项组边框内边距
   * @type size
   */
  --el-select-optiongroup-border-padding: var(--el-comp-margin-xs);

  /**
   * @desc 下拉框内边距
   * @type size
   */
  --el-select-dropdown-padding: var(--el-pop-padding-m);

  /**
   * @desc 大号下拉框内边距
   * @type size
   */
  --el-select-dropdown-padding-l: var(--el-pop-padding-l);

  /**
   * @desc 小号下拉框内边距
   * @type size
   */
  --el-select-dropdown-padding-s: var(--el-pop-padding-s);

  /**
   * @desc 下拉框弹出内边距
   * @type size
   */
  --el-select-dropdown-popup-padding: 0;

  /**
   * @desc 选项组边框外边距
   * @type size
   */
  --el-select-optiongroup-border-margin: var(--el-comp-margin-xs);

  /**
   * @desc 下拉框外边距
   * @type size
   */
  --el-select-dropdown-margin: var(--el-comp-paddingTB-s) 0;

  /**
   * @desc 选项顶部外边距
   * @type size
   */
  --el-select-options-margin-top: var(--el-comp-paddingTB-xxs);

  /**
   * @desc 空状态内边距
   * @type size
   */
  --el-select-empty-padding: 0 var(--el-comp-paddingLR-s);
}
