.el-tag {
  .el-tag__content {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.el-table {
  .el-table__cell {
    .el-tag {
      max-width: 100%;
    }
  }
}