/**
 * @component el-message-box
 */
.el-message-box {
  /**
   * @desc 消息框标题颜色
   * @type color
   */
  --el-messagebox-title-color: var(--el-text-color-primary);
  
  /**
   * @desc 消息框宽度
   * @type input
   */
  --el-messagebox-width: 420px;
  
  /**
   * @desc 消息框边框半径
   * @type input
   */
  --el-messagebox-border-radius: 4px;
  
  /**
   * @desc 消息框阴影
   * @type input
   */
  --el-messagebox-box-shadow: var(--el-box-shadow);
  
  /**
   * @desc 消息框字体大小
   * @type input
   */
  --el-messagebox-font-size: var(--el-font-size-large);
  
  /**
   * @desc 消息框内容字体大小
   * @type input
   */
  --el-messagebox-content-font-size: var(--el-font-size-base);
  
  /**
   * @desc 消息框内容颜色
   * @type color
   */
  --el-messagebox-content-color: var(--el-text-color-regular);
  
  /**
   * @desc 消息框错误信息字体大小
   * @type input
   */
  --el-messagebox-error-font-size: 12px;
  
  /**
   * @desc 消息框主要内边距
   * @type input
   */
  --el-messagebox-padding-primary: 12px;
  
  /**
   * @desc 消息框字体行高
   * @type input
   */
  --el-messagebox-font-line-height: var(--el-font-line-height-primary);
}
