/**
 * @component el-menu
 */
:root {
  /**
   * @desc 菜单项字体大小
   * @type font-size
   */
  --menu-item-font-size: var(--font-size-base);

  /**
   * @desc 菜单项字体颜色
   * @type color
   */
  --menu-item-font-color: var(--color-text-primary);

  /**
   * @desc 菜单背景颜色
   * @type color
   */
  --menu-background-color: var(--color-white);

  /**
   * @desc 菜单项悬停时的填充颜色
   * @type color
   */
  --menu-item-hover-fill: var(--color-primary-light-9);
}
