.ideWrapper {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F7F8FA;
  padding: 8px;
  height: 100%;
  width: 100%;
}

.icon {
  color: var(--brand-primary);
}

.text::before {
  content: '{{';
  flex-shrink: 0;
  white-space: nowrap;
}

.text::after {
  content: '}}';
  flex-shrink: 0;
  white-space: nowrap;
}

.textWrap {
  max-width: 100%;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
}

.text {
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #333;
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
