/**
 * @component el-select
 */
.el-select {
  /**
   * @desc 悬浮边框颜色
   * @type input
   */
  --el-select-border-color-hover: var(--el-border-color-hover);
  /**
   * @desc 禁用颜色
   * @type color
   */
  --el-select-disabled-color: var(--el-disabled-text-color);
  /**
   * @desc 禁用边框
   * @type input
   */
  --el-select-disabled-border: var(--el-disabled-border-color);
  /**
   * @desc 字体大小
   * @type size
   */
  --el-select-font-size: var(--el-font-size-base);
  /**
   * @desc 关闭悬浮颜色
   * @type color
   */
  --el-select-close-hover-color: var(--el-text-color-secondary);
  /**
   * @desc 输入框颜色
   * @type color
   */
  --el-select-input-color: var(--el-text-color-placeholder);
  /**
   * @desc 多选输入框颜色
   * @type color
   */
  --el-select-multiple-input-color: var(--el-text-color-regular);
  /**
   * @desc 聚焦边框颜色
   * @type color
   */
  --el-select-input-focus-border-color: var(--el-color-primary);
  /**
   * @desc 输入框字体大小
   * @type size
   */
  --el-select-input-font-size: 14px;
  /**
   * @desc 输入框宽度
   * @type size
   */
  --el-select-width: 100%;
}
