/**
 * @component el-result
 */
.el-result {
  /**
   * @desc 结果组件的内边距
   * @type input
   */
  --el-result-padding: 40px 30px;

  /**
   * @desc 图标的字体大小
   * @type input
   */
  --el-result-icon-font-size: 64px;

  /**
   * @desc 标题的字体大小
   * @type input
   */
  --el-result-title-font-size: 20px;

  /**
   * @desc 标题的上边距
   * @type input
   */
  --el-result-title-margin-top: 20px;

  /**
   * @desc 副标题的上边距
   * @type input
   */
  --el-result-subtitle-margin-top: 10px;

  /**
   * @desc 额外内容的上边距
   * @type input
   */
  --el-result-extra-margin-top: 30px;
}
