.van-time-picker__root {
  width: 100%;
  cursor: pointer;
}
.van-time-picker__toolbar {
  align-items: center;
}
.van-time-picker__content-wrapper {
  padding: 12px;
}

.van-time-picker__bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.van-time-picker__cancel {
  cursor: pointer;
}

.van-time-picker__field:not([class*="van-field--disabled"]) {
  cursor: pointer;
}