/**
 * @component van-cell-group
 */
:root,
:host {
  /**
   * @type color
   * @desc 单元格组背景色
   */
  --van-cell-group-background: var(--van-background-2);
  /**
   * @type color
   * @desc 单元格组标题颜色
   */
  --van-cell-group-title-color: var(--van-text-color-2);
  /**
   * @type input
   * @desc 单元格组标题内边距
   */
  --van-cell-group-title-padding: var(--van-padding-md) var(--van-padding-md);
  /**
   * @type input
   * @desc 单元格组标题字体大小
   */
  --van-cell-group-title-font-size: var(--van-font-size-md);
  /**
   * @type input
   * @desc 单元格组标题行高
   */
  --van-cell-group-title-line-height: 16px;
  /**
   * @type input
   * @desc 单元格组内嵌内边距
   */
  --van-cell-group-inset-padding: 0 var(--van-padding-md);
  /**
   * @type input
   * @desc 单元格组内嵌圆角半径
   */
  --van-cell-group-inset-radius: var(--van-radius-lg);
  /**
   * @type input
   * @desc 单元格组内嵌标题内边距
   */
  --van-cell-group-inset-title-padding: var(--van-padding-md) var(--van-padding-md);
  /**
   * @type input
   * @desc 单元格字体大小
   */
  --van-cell-font-size: var(--van-font-size-md);
  /**
   * @type input
   * @desc 单元格行高
   */
  --van-cell-line-height: 24px;
  /**
   * @type input
   * @desc 单元格垂直内边距
   */
  --van-cell-vertical-padding: 10px;
  /**
   * @type input
   * @desc 单元格水平内边距
   */
  --van-cell-horizontal-padding: var(--van-padding-md);
  /**
   * @type color
   * @desc 单元格文字颜色
   */
  --van-cell-text-color: var(--van-text-color);
  /**
   * @type color
   * @desc 单元格背景色
   */
  --van-cell-background: var(--van-background-2);
  /**
   * @type color
   * @desc 单元格边框颜色
   */
  --van-cell-border-color: var(--van-border-color);
  /**
   * @type color
   * @desc 单元格激活状态颜色
   */
  --van-cell-active-color: var(--van-active-color);
  /**
   * @type color
   * @desc 单元格必填标记颜色
   */
  --van-cell-required-color: var(--van-danger-color);
  /**
   * @type color
   * @desc 单元格标签颜色
   */
  --van-cell-label-color: var(--van-text-color-2);
  /**
   * @type input
   * @desc 单元格标签字体大小
   */
  --van-cell-label-font-size: var(--van-font-size-sm);
  /**
   * @type input
   * @desc 单元格标签行高
   */
  --van-cell-label-line-height: var(--van-line-height-sm);
  /**
   * @type input
   * @desc 单元格标签上边距
   */
  --van-cell-label-margin-top: var(--van-padding-base);
  /**
   * @type color
   * @desc 单元格值颜色
   */
  --van-cell-value-color: var(--van-text-color-2);
  /**
   * @type input
   * @desc 单元格值字体大小
   */
  --van-cell-value-font-size: inherit;
  /**
   * @type input
   * @desc 单元格图标大小
   */
  --van-cell-icon-size: 16px;
  /**
   * @type color
   * @desc 单元格右侧图标颜色
   */
  --van-cell-right-icon-color: var(--van-gray-6);
  /**
   * @type input
   * @desc 单元格大尺寸垂直内边距
   */
  --van-cell-large-vertical-padding: var(--van-padding-sm);
  /**
   * @type input
   * @desc 单元格大尺寸标题字体大小
   */
  --van-cell-large-title-font-size: var(--van-font-size-lg);
  /**
   * @type input
   * @desc 单元格大尺寸标签字体大小
   */
  --van-cell-large-label-font-size: var(--van-font-size-md);
  /**
   * @type input
   * @desc 单元格大尺寸值字体大小
   */
  --van-cell-large-value-font-size: inherit;
}