/**
 * @component van-picker
 */
:root,
:host {
  /**
   * @type color
   */
  --van-picker-background: var(--van-background-2);
  /**
   * @type input
   */
  --van-picker-toolbar-height: 44px;
  /**
   * @type input
   */
  --van-picker-title-font-size: var(--van-font-size-lg);
  /**
   * @type input
   */
  --van-picker-title-line-height: var(--van-line-height-md);
  /**
   * @type input
   */
  --van-picker-action-padding: 0 var(--van-padding-md);
  /**
   * @type input
   */
  --van-picker-action-font-size: var(--van-font-size-md);
  /**
   * @type color
   */
  --van-picker-confirm-action-color: var(--van-primary-color);
  /**
   * @type color
   */
  --van-picker-cancel-action-color: var(--van-text-color-2);
  /**
   * @type input
   */
  --van-picker-option-font-size: var(--van-font-size-lg);
  /**
   * @type input
   */
  --van-picker-option-padding: 0 var(--van-padding-base);
  /**
   * @type color
   */
  --van-picker-option-text-color: var(--van-text-color);
  /**
   * @type input
   */
  --van-picker-option-disabled-opacity: .3;
  /**
   * @type color
   */
  --van-picker-loading-icon-color: var(--van-primary-color);
  /**
   * @type color
   */
  --van-picker-loading-mask-color: rgba(255, 255, 255, .9);
  /**
   * @type input
   */
  --van-picker-mask-color: linear-gradient(180deg, rgba(255, 255, 255, .9), rgba(255, 255, 255, .4)), linear-gradient(0deg, rgba(255, 255, 255, .9), rgba(255, 255, 255, .4));
}