/**
 * @component el-button
 */
.el-button {
  /**
   * @desc 按钮字体粗细
   * @type input
   */
  --el-button-font-weight: var(--el-font-weight-primary);

  /**
   * @desc 按钮边框颜色
   * @type color
   */
  --el-button-border-color: var(--el-border-color);

  /**
   * @desc 按钮背景颜色
   * @type color
   */
  --el-button-bg-color: var(--el-fill-color-blank);

  /**
   * @desc 按钮文字颜色
   * @type color
   */
  --el-button-text-color: var(--el-text-color-regular);

  /**
   * @desc 按钮禁用状态文字颜色
   * @type color
   */
  --el-button-disabled-text-color: var(--el-disabled-text-color);

  /**
   * @desc 按钮禁用状态背景颜色
   * @type color
   */
  --el-button-disabled-bg-color: var(--el-fill-color-blank);

  /**
   * @desc 按钮禁用状态边框颜色
   * @type color
   */
  --el-button-disabled-border-color: var(--el-border-color-light);

  /**
   * @desc 按钮分隔线颜色
   * @type color
   */
  --el-button-divide-border-color: rgba(255,255,255,0.5);

  /**
   * @desc 按钮悬停状态文字颜色
   * @type color
   */
  --el-button-hover-text-color: var(--el-color-primary);

  /**
   * @desc 按钮悬停状态背景颜色
   * @type color
   */
  --el-button-hover-bg-color: var(--el-color-primary-light-9);

  /**
   * @desc 按钮悬停状态边框颜色
   * @type color
   */
  --el-button-hover-border-color: var(--el-color-primary-light-7);

  /**
   * @desc 按钮激活状态文字颜色
   * @type color
   */
  --el-button-active-text-color: var(--el-button-hover-text-color);

  /**
   * @desc 按钮激活状态边框颜色
   * @type color
   */
  --el-button-active-border-color: var(--el-color-primary);

  /**
   * @desc 按钮激活状态背景颜色
   * @type color
   */
  --el-button-active-bg-color: var(--el-button-hover-bg-color);

  /**
   * @desc 按钮轮廓颜色
   * @type color
   */
  --el-button-outline-color: var(--el-color-primary-light-5);

  /**
   * @desc 按钮悬停链接文字颜色
   * @type color
   */
  --el-button-hover-link-text-color: var(--el-text-color-secondary);

  /**
   * @desc 按钮激活状态颜色
   * @type color
   */
  --el-button-active-color: var(--el-text-color-primary);
}
