.el-table-column--selection .empty-slot.empty-slot.empty-slot{
  min-width: 25px;
}

.el-table.sticky-table {
  overflow: visible; 
}
.el-table.sticky-table .el-table__header-wrapper {
  position: sticky; 
  top: var(--el-table-sticky-offset); 
  z-index: 5;
}

.el-table .el-table__cell{
  text-align: var(--cw-style-text-align,'left');
}
.el-table .el-table__cell.is-left{
  text-align: left;
}
.el-table-wrapper{
  width: 100%;
}
.el-table .el-form-item{
  /* margin-bottom: 0; */
}