/**
 * @component el-carousel
 */
.el-carousel {
  /**
   * @desc 箭头字体大小
   * @type input
   */
  --el-carousel-arrow-font-size: 12px;
  /**
   * @desc 箭头大小
   * @type input
   */
  --el-carousel-arrow-size: 36px;
  /**
   * @desc 箭头背景颜色
   * @type color
   */
  --el-carousel-arrow-background: rgba(31,45,61,0.11);
  /**
   * @desc 箭头悬停背景颜色
   * @type color
   */
  --el-carousel-arrow-hover-background: rgba(31,45,61,0.23);
  /**
   * @desc 指示器宽度
   * @type input
   */
  --el-carousel-indicator-width: 30px;
  /**
   * @desc 指示器高度
   * @type input
   */
  --el-carousel-indicator-height: 2px;
  /**
   * @desc 指示器水平间距
   * @type input
   */
  --el-carousel-indicator-padding-horizontal: 4px;
  /**
   * @desc 指示器垂直间距
   * @type input
   */
  --el-carousel-indicator-padding-vertical: 12px;
  /**
   * @desc 指示器外层颜色
   * @type color
   */
  --el-carousel-indicator-out-color: var(--el-border-color-hover);
}