.el-form-item {
  width: fit-content;
  /* margin-bottom: 0; */
}
.el-form .el-button {
  margin-bottom: 18px;
}
.el-form{
  border: 1px solid transparent;
}



.el-form.el-form--label-top .el-flex-form-item >:not(.el-form-item-has-label) {
  align-self: flex-end;
}


.el-form--inline .el-flex-form-item {
  display: inline-flex;
}

.el-form:not(.el-form--label-top) .el-flex-form-item>:first-child:not(.el-form-item) {
  margin-left: var(--el-flex-form-label-width);
}

.el-form.el-form-grid{
  display: grid;
  grid-template-columns: repeat(var(--el-form-columns), 1fr);
  // gap: var(--el-form-item-gap);
}