.van-radio-group-preview {
  .van-radio {
    margin-right: 0;
  }
  .van-radio__icon {
    display: none;
  }
  .van-radio__label {
    margin-left: 0;
    color:#000;
    cursor: default;
  }
  .van-radio:not(:last-child) .van-radio__label::after {
    content: ',';
  }
}
