/**
 * @component Textarea
 * @useGlobalTokens ["--cw-padding-xxs","--cw-control-height-sm","--cw-line-width","--cw-color-text","--cw-font-size","--cw-line-height","--cw-font-family","--cw-border-radius","--cw-motion-duration-mid","--cw-color-text-placeholder","--cw-control-height","--cw-motion-duration-slow","--cw-line-height-lg","--cw-border-radius-lg","--cw-border-radius-sm","--cw-color-border","--cw-color-bg-container","--cw-line-type","--cw-color-text-disabled","--cw-color-bg-container-disabled","--cw-color-error","--cw-color-error-border-hover","--cw-color-warning","--cw-color-warning-border-hover","--cw-color-fill-tertiary","--cw-color-fill-secondary","--cw-color-primary","--cw-color-error-bg","--cw-color-error-bg-hover","--cw-color-error-text","--cw-color-warning-bg","--cw-color-warning-bg-hover","--cw-color-warning-text","--cw-control-height-lg","--cw-padding-lg","--cw-color-text-description","--cw-padding-xs","--cw-color-icon","--cw-color-icon-hover","--cw-color-text-quaternary","--cw-font-size-icon","--cw-color-text-tertiary","--cw-color-split","--cw-color-primary-hover","--cw-color-primary-active"]
 */
.cw-nasl.cw-textarea,
.cw-nasl.cw-textarea-css-var {
  /**
   * @desc 输入框激活状态时背景颜色
   * @type color
   */
  --cw-input-active-bg: #ffffff;

  /**
   * @desc 激活态边框色
   * @type color
   */
  --cw-input-active-border-color: #1677ff;

  /**
   * @desc 激活态阴影
   * @type input
   */
  --cw-input-active-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);

  /**
   * @desc 前/后置标签背景色
   * @type color
   */
  --cw-input-addon-bg: rgba(0, 0, 0, 0.02);

  /**
   * @desc 错误状态时激活态阴影
   * @type input
   */
  --cw-input-error-active-shadow: 0 0 0 2px rgba(255, 38, 5, 0.06);

  /**
   * @desc 输入框hover状态时背景颜色
   * @type color
   */
  --cw-input-hover-bg: #ffffff;

  /**
   * @desc 悬浮态边框色
   * @type color
   */
  --cw-input-hover-border-color: #4096ff;

  /**
   * @desc 字体大小
   * @type size
   */
  --cw-input-input-font-size: 14px;

  /**
   * @desc 大号字体大小
   * @type size
   */
  --cw-input-input-font-size-lg: 16px;

  /**
   * @desc 小号字体大小
   * @type size
   */
  --cw-input-input-font-size-sm: 14px;

  /**
   * @desc 输入框纵向内边距
   * @type size
   */
  --cw-input-padding-block: 4px;

  /**
   * @desc 大号输入框纵向内边距
   * @type size
   */
  --cw-input-padding-block-lg: 7px;

  /**
   * @desc 小号输入框纵向内边距
   * @type input
   */
  --cw-input-padding-block-sm: 0;

  /**
   * @desc 输入框横向内边距
   * @type size
   */
  --cw-input-padding-inline: 11px;

  /**
   * @desc 大号输入框横向内边距
   * @type size
   */
  --cw-input-padding-inline-lg: 11px;

  /**
   * @desc 小号输入框横向内边距
   * @type size
   */
  --cw-input-padding-inline-sm: 7px;

  /**
   * @desc 警告状态时激活态阴影
   * @type input
   */
  --cw-input-warning-active-shadow: 0 0 0 2px rgba(255, 215, 5, 0.1);
}
