/**
 * @component Breadcrumb
 * @useGlobalTokens ["--cw-color-text","--cw-font-size","--cw-line-height","--cw-font-family","--cw-motion-duration-mid","--cw-padding-xxs","--cw-border-radius-sm","--cw-font-height","--cw-margin-xxs","--cw-color-bg-text-hover","--cw-line-width-focus","--cw-color-primary-border","--cw-font-size-icon"]
 */
.cw-nasl.cw-breadcrumb,
.cw-nasl.cw-breadcrumb-css-var {
  /**
   * @desc 图标大小
   * @type size
   */
  --cw-breadcrumb-icon-font-size: var(--cw-font-size);

  /**
   * @desc 面包屑项文字颜色
   * @type color
   */
  --cw-breadcrumb-item-color: var(--cw-color-text-description);

  /**
   * @desc 最后一项文字颜色
   * @type color
   */
  --cw-breadcrumb-last-item-color: var(--cw-color-text);

  /**
   * @desc 链接文字颜色
   * @type color
   */
  --cw-breadcrumb-link-color: var(--cw-color-text-description);

  /**
   * @desc 链接文字悬浮颜色
   * @type color
   */
  --cw-breadcrumb-link-hover-color: var(--cw-color-text);

  /**
   * @desc 分隔符颜色
   * @type color
   */
  --cw-breadcrumb-separator-color: var(--cw-color-text-description);

  /**
   * @desc 分隔符外间距
   * @type size
   */
  --cw-breadcrumb-separator-margin: var(--cw-margin-xs);
}