:root,
:root[theme-mode="light"] {
  --el-brand-color-1: #f2f3ff;
  --el-brand-color-2: #d9e1ff;
  --el-brand-color-3: #b5c7ff;
  --el-brand-color-4: #8eabff;
  --el-brand-color-5: #618dff;
  --el-brand-color-6: #366ef4;
  --el-brand-color-7: #0052d9;
  --el-brand-color-8: #003cab;
  --el-brand-color-9: #002a7c;
  --el-brand-color-10: #001a57;
  --el-warning-color-1: #fff1e9;
  --el-warning-color-2: #ffd9c2;
  --el-warning-color-3: #ffb98c;
  --el-warning-color-4: #fa9550;
  --el-warning-color-5: #e37318;
  --el-warning-color-6: #be5a00;
  --el-warning-color-7: #954500;
  --el-warning-color-8: #713300;
  --el-warning-color-9: #532300;
  --el-warning-color-10: #3b1700;
  --el-error-color-1: #fff0ed;
  --el-error-color-2: #ffd8d2;
  --el-error-color-3: #ffb9b0;
  --el-error-color-4: #ff9285;
  --el-error-color-5: #f6685d;
  --el-error-color-6: #d54941;
  --el-error-color-7: #ad352f;
  --el-error-color-8: #881f1c;
  --el-error-color-9: #68070a;
  --el-error-color-10: #490002;
  --el-success-color-1: #e3f9e9;
  --el-success-color-2: #c6f3d7;
  --el-success-color-3: #92dab2;
  --el-success-color-4: #56c08d;
  --el-success-color-5: #2ba471;
  --el-success-color-6: #008858;
  --el-success-color-7: #006c45;
  --el-success-color-8: #005334;
  --el-success-color-9: #003b23;
  --el-success-color-10: #002515;
  --el-gray-color-1: #f3f3f3;
  --el-gray-color-2: #eee;
  --el-gray-color-3: #e8e8e8;
  --el-gray-color-4: #ddd;
  --el-gray-color-5: #c6c6c6;
  --el-gray-color-6: #a6a6a6;
  --el-gray-color-7: #8b8b8b;
  --el-gray-color-8: #777;
  --el-gray-color-9: #5e5e5e;
  --el-gray-color-10: #4b4b4b;
  --el-gray-color-11: #393939;
  --el-gray-color-12: #2c2c2c;
  --el-gray-color-13: #242424;
  --el-gray-color-14: #181818;
  --el-font-white-1: #ffffff;
  --el-font-white-2: rgba(255, 255, 255, 0.55);
  --el-font-white-3: rgba(255, 255, 255, 0.35);
  --el-font-white-4: rgba(255, 255, 255, 0.22);
  --el-font-gray-1: rgba(0, 0, 0, 0.9);
  --el-font-gray-2: rgba(0, 0, 0, 0.6);
  --el-font-gray-3: rgba(0, 0, 0, 0.4);
  --el-font-gray-4: rgba(0, 0, 0, 0.26);
  --el-brand-color: var(--el-brand-color-7);
  --el-warning-color: var(--el-warning-color-5);
  --el-error-color: var(--el-error-color-6);
  --el-success-color: var(--el-success-color-5);
  --el-brand-color-hover: var(--el-brand-color-6);
  --el-brand-color-focus: var(--el-brand-color-2);
  --el-brand-color-active: var(--el-brand-color-8);
  --el-brand-color-disabled: var(--el-brand-color-3);
  --el-brand-color-light: var(--el-brand-color-1);
  --el-brand-color-light-hover: var(--el-brand-color-2);
  --el-warning-color-hover: var(--el-warning-color-4);
  --el-warning-color-focus: var(--el-warning-color-2);
  --el-warning-color-active: var(--el-warning-color-6);
  --el-warning-color-disabled: var(--el-warning-color-3);
  --el-warning-color-light: var(--el-warning-color-1);
  --el-warning-color-light-hover: var(--el-warning-color-2);
  --el-error-color-hover: var(--el-error-color-5);
  --el-error-color-focus: var(--el-error-color-2);
  --el-error-color-active: var(--el-error-color-7);
  --el-error-color-disabled: var(--el-error-color-3);
  --el-error-color-light: var(--el-error-color-1);
  --el-error-color-light-hover: var(--el-error-color-2);
  --el-success-color-hover: var(--el-success-color-4);
  --el-success-color-focus: var(--el-success-color-2);
  --el-success-color-active: var(--el-success-color-6);
  --el-success-color-disabled: var(--el-success-color-3);
  --el-success-color-light: var(--el-success-color-1);
  --el-success-color-light-hover: var(--el-success-color-2);
  --el-mask-active: rgba(0, 0, 0, 0.6);
  --el-mask-disabled: rgba(255, 255, 255, 0.6);
  --el-bg-color-page: var(--el-gray-color-2);
  --el-bg-color-container: #fff;
  --el-bg-color-container-hover: var(--el-gray-color-1);
  --el-bg-color-container-active: var(--el-gray-color-3);
  --el-bg-color-container-select: #fff;
  --el-bg-color-secondarycontainer: var(--el-gray-color-1);
  --el-bg-color-secondarycontainer-hover: var(--el-gray-color-2);
  --el-bg-color-secondarycontainer-active: var(--el-gray-color-4);
  --el-bg-color-component: var(--el-gray-color-3);
  --el-bg-color-component-hover: var(--el-gray-color-4);
  --el-bg-color-component-active: var(--el-gray-color-6);
  --el-bg-color-secondarycomponent: var(--el-gray-color-4);
  --el-bg-color-secondarycomponent-hover: var(--el-gray-color-5);
  --el-bg-color-secondarycomponent-active: var(--el-gray-color-6);
  --el-bg-color-component-disabled: var(--el-gray-color-2);
  --el-bg-color-specialcomponent: #fff;
  --el-text-color-primary: var(--el-font-gray-1);
  --el-text-color-secondary: var(--el-font-gray-2);
  --el-text-color-placeholder: var(--el-font-gray-3);
  --el-text-color-disabled: var(--el-font-gray-4);
  --el-text-color-anti: #fff;
  --el-text-color-brand: var(--el-brand-color-7);
  --el-text-color-link: var(--el-brand-color-8);
  --el-border-level-1-color: var(--el-gray-color-3);
  --el-component-stroke: var(--el-gray-color-3);
  --el-border-level-2-color: var(--el-gray-color-4);
  --el-component-border: var(--el-gray-color-4);
  --el-shadow-1: 0 1px 10px rgba(0, 0, 0, 0.05), 0 4px 5px rgba(0, 0, 0, 8%), 0 2px 4px -1px rgba(0, 0, 0, 12%);
  --el-shadow-2: 0 3px 14px 2px rgba(0, 0, 0, 0.05), 0 8px 10px 1px rgba(0, 0, 0, 6%), 0 5px 5px -3px rgba(0, 0, 0, 10%);
  --el-shadow-3: 0 6px 30px 5px rgba(0, 0, 0, 0.05), 0 16px 24px 2px rgba(0, 0, 0, 4%), 0 8px 10px -5px rgba(0, 0, 0, 8%);
  --el-shadow-inset-top: inset 0 0.5px 0 #dcdcdc;
  --el-shadow-inset-right: inset 0.5px 0 0 #dcdcdc;
  --el-shadow-inset-bottom: inset 0 -0.5px 0 #dcdcdc;
  --el-shadow-inset-left: inset -0.5px 0 0 #dcdcdc;
  --el-table-shadow-color: rgba(0, 0, 0, 0.08);
  --el-scrollbar-color: rgba(0, 0, 0, 0.1);
  --el-scrollbar-hover-color: rgba(0, 0, 0, 0.3);
  --el-scroll-track-color: #fff;
}
:root[theme-mode="dark"] {
  --el-brand-color-1: #1b2f51;
  --el-brand-color-2: #173463;
  --el-brand-color-3: #143975;
  --el-brand-color-4: #103d88;
  --el-brand-color-5: #0d429a;
  --el-brand-color-6: #054bbe;
  --el-brand-color-7: #2667d4;
  --el-brand-color-8: #4582e6;
  --el-brand-color-9: #699ef5;
  --el-brand-color-10: #96bbf8;
  --el-warning-color-1: #4f2a1d;
  --el-warning-color-2: #582f21;
  --el-warning-color-3: #733c23;
  --el-warning-color-4: #a75d2b;
  --el-warning-color-5: #cf6e2d;
  --el-warning-color-6: #dc7633;
  --el-warning-color-7: #e8935c;
  --el-warning-color-8: #ecbf91;
  --el-warning-color-9: #eed7bf;
  --el-warning-color-10: #f3e9dc;
  --el-error-color-1: #472324;
  --el-error-color-2: #5e2a2d;
  --el-error-color-3: #703439;
  --el-error-color-4: #83383e;
  --el-error-color-5: #a03f46;
  --el-error-color-6: #c64751;
  --el-error-color-7: #de6670;
  --el-error-color-8: #ec888e;
  --el-error-color-9: #edb1b6;
  --el-error-color-10: #eeced0;
  --el-success-color-1: #193a2a;
  --el-success-color-2: #1a4230;
  --el-success-color-3: #17533d;
  --el-success-color-4: #0d7a55;
  --el-success-color-5: #059465;
  --el-success-color-6: #43af8a;
  --el-success-color-7: #46bf96;
  --el-success-color-8: #80d2b6;
  --el-success-color-9: #b4e1d3;
  --el-success-color-10: #deede8;
  --el-gray-color-1: #f3f3f3;
  --el-gray-color-2: #eee;
  --el-gray-color-3: #e8e8e8;
  --el-gray-color-4: #ddd;
  --el-gray-color-5: #c6c6c6;
  --el-gray-color-6: #a6a6a6;
  --el-gray-color-7: #8b8b8b;
  --el-gray-color-8: #777;
  --el-gray-color-9: #5e5e5e;
  --el-gray-color-10: #4b4b4b;
  --el-gray-color-11: #393939;
  --el-gray-color-12: #2c2c2c;
  --el-gray-color-13: #242424;
  --el-gray-color-14: #181818;
  --el-font-white-1: rgba(255, 255, 255, 0.9);
  --el-font-white-2: rgba(255, 255, 255, 0.55);
  --el-font-white-3: rgba(255, 255, 255, 0.35);
  --el-font-white-4: rgba(255, 255, 255, 0.22);
  --el-font-gray-1: rgba(0, 0, 0, 0.9);
  --el-font-gray-2: rgba(0, 0, 0, 0.6);
  --el-font-gray-3: rgba(0, 0, 0, 0.4);
  --el-font-gray-4: rgba(0, 0, 0, 0.26);
  --el-brand-color: var(--el-brand-color-8);
  --el-warning-color: var(--el-warning-color-5);
  --el-error-color: var(--el-error-color-6);
  --el-success-color: var(--el-success-color-5);
  --el-brand-color-hover: var(--el-brand-color-7);
  --el-brand-color-focus: var(--el-brand-color-2);
  --el-brand-color-active: var(--el-brand-color-9);
  --el-brand-color-disabled: var(--el-brand-color-3);
  --el-brand-color-light: var(--el-brand-color-1);
  --el-brand-color-light-hover: var(--el-brand-color-2);
  --el-warning-color-hover: var(--el-warning-color-4);
  --el-warning-color-focus: var(--el-warning-color-2);
  --el-warning-color-active: var(--el-warning-color-6);
  --el-warning-color-disabled: var(--el-warning-color-3);
  --el-warning-color-light: var(--el-warning-color-1);
  --el-warning-color-light-hover: var(--el-warning-color-2);
  --el-error-color-hover: var(--el-error-color-5);
  --el-error-color-focus: var(--el-error-color-2);
  --el-error-color-active: var(--el-error-color-7);
  --el-error-color-disabled: var(--el-error-color-3);
  --el-error-color-light: var(--el-error-color-1);
  --el-error-color-light-hover: var(--el-error-color-2);
  --el-success-color-hover: var(--el-success-color-4);
  --el-success-color-focus: var(--el-success-color-2);
  --el-success-color-active: var(--el-success-color-6);
  --el-success-color-disabled: var(--el-success-color-3);
  --el-success-color-light: var(--el-success-color-1);
  --el-success-color-light-hover: var(--el-success-color-2);
  --el-mask-active: rgba(0, 0, 0, 0.4);
  --el-mask-disabled: rgba(0, 0, 0, 0.6);
  --el-bg-color-page: var(--el-gray-color-14);
  --el-bg-color-container: var(--el-gray-color-13);
  --el-bg-color-container-hover: var(--el-gray-color-12);
  --el-bg-color-container-active: var(--el-gray-color-10);
  --el-bg-color-container-select: var(--el-gray-color-9);
  --el-bg-color-secondarycontainer: var(--el-gray-color-12);
  --el-bg-color-secondarycontainer-hover: var(--el-gray-color-11);
  --el-bg-color-secondarycontainer-active: var(--el-gray-color-9);
  --el-bg-color-component: var(--el-gray-color-11);
  --el-bg-color-component-hover: var(--el-gray-color-10);
  --el-bg-color-component-active: var(--el-gray-color-9);
  --el-bg-color-secondarycomponent: var(--el-gray-color-10);
  --el-bg-color-secondarycomponent-hover: var(--el-gray-color-9);
  --el-bg-color-secondarycomponent-active: var(--el-gray-color-8);
  --el-bg-color-component-disabled: var(--el-gray-color-12);
  --el-bg-color-specialcomponent: transparent;
  --el-text-color-primary: var(--el-font-white-1);
  --el-text-color-secondary: var(--el-font-white-2);
  --el-text-color-placeholder: var(--el-font-white-3);
  --el-text-color-disabled: var(--el-font-white-4);
  --el-text-color-anti: #fff;
  --el-text-color-brand: var(--el-brand-color-8);
  --el-text-color-link: var(--el-brand-color-8);
  --el-border-level-1-color: var(--el-gray-color-11);
  --el-component-stroke: var(--el-gray-color-11);
  --el-border-level-2-color: var(--el-gray-color-9);
  --el-component-border: var(--el-gray-color-9);
  --el-shadow-1: 0 4px 6px rgba(0, 0, 0, 0.06), 0 1px 10px rgba(0, 0, 0, 8%), 0 2px 4px rgba(0, 0, 0, 12%);
  --el-shadow-2: 0 8px 10px rgba(0, 0, 0, 0.12), 0 3px 14px rgba(0, 0, 0, 10%), 0 5px 5px rgba(0, 0, 0, 16%);
  --el-shadow-3: 0 16px 24px rgba(0, 0, 0, 0.14), 0 6px 30px rgba(0, 0, 0, 12%), 0 8px 10px rgba(0, 0, 0, 20%);
  --el-shadow-inset-top: inset 0 0.5px 0 #5e5e5e;
  --el-shadow-inset-right: inset 0.5px 0 0 #5e5e5e;
  --el-shadow-inset-bottom: inset 0 -0.5px 0 #5e5e5e;
  --el-shadow-inset-left: inset -0.5px 0 0 #5e5e5e;
  --el-table-shadow-color: rgba(0, 0, 0, 0.55);
  --el-scrollbar-color: rgba(255, 255, 255, 0.1);
  --el-scrollbar-hover-color: rgba(255, 255, 255, 0.3);
  --el-scroll-track-color: #333;
}
:root {
  --el-radius-small: 2px;
  --el-radius-default: 3px;
  --el-radius-medium: 6px;
  --el-radius-large: 9px;
  --el-radius-extraLarge: 12px;
  --el-radius-round: 999px;
  --el-radius-circle: 50%;
}
:root {
  --el-font-family: PingFang SC, Microsoft YaHei, Arial Regular;
  --el-font-family-medium: PingFang SC, Microsoft YaHei, Arial Medium;
  --el-font-size-link-small: 12px;
  --el-font-size-link-medium: 14px;
  --el-font-size-link-large: 16px;
  --el-font-size-mark-small: 12px;
  --el-font-size-mark-medium: 14px;
  --el-font-size-body-small: 12px;
  --el-font-size-body-medium: 14px;
  --el-font-size-body-large: 16px;
  --el-font-size-title-small: 14px;
  --el-font-size-title-medium: 16px;
  --el-font-size-title-large: 20px;
  --el-font-size-headline-small: 24px;
  --el-font-size-headline-medium: 28px;
  --el-font-size-headline-large: 36px;
  --el-font-size-display-medium: 48px;
  --el-font-size-display-large: 64px;
  --el-line-height-link-small: 20px;
  --el-line-height-link-medium: 22px;
  --el-line-height-link-large: 24px;
  --el-line-height-mark-small: 20px;
  --el-line-height-mark-medium: 22px;
  --el-line-height-body-small: 20px;
  --el-line-height-body-medium: 22px;
  --el-line-height-body-large: 24px;
  --el-line-height-title-small: 22px;
  --el-line-height-title-medium: 24px;
  --el-line-height-title-large: 28px;
  --el-line-height-headline-small: 32px;
  --el-line-height-headline-medium: 36px;
  --el-line-height-headline-large: 44px;
  --el-line-height-display-medium: 56px;
  --el-line-height-display-large: 72px;
  --el-font-link-small: var(--el-font-size-link-small) /
    var(--el-line-height-link-small) var(--el-font-family);
  --el-font-link-medium: var(--el-font-size-link-medium) /
    var(--el-line-height-link-medium) var(--el-font-family);
  --el-font-link-large: var(--el-font-size-link-large) /
    var(--el-line-height-link-large) var(--el-font-family);
  --el-font-mark-small: 600 var(--el-font-size-mark-small) /
    var(--el-line-height-mark-small) var(--el-font-family);
  --el-font-mark-medium: 600 var(--el-font-size-mark-medium) /
    var(--el-line-height-mark-medium) var(--el-font-family);
  --el-font-body-small: var(--el-font-size-body-small) /
    var(--el-line-height-body-small) var(--el-font-family);
  --el-font-body-medium: var(--el-font-size-body-medium) /
    var(--el-line-height-body-medium) var(--el-font-family);
  --el-font-body-large: var(--el-font-size-body-large) /
    var(--el-line-height-body-large) var(--el-font-family);
  --el-font-title-small: 600 var(--el-font-size-title-small) /
    var(--el-line-height-title-small) var(--el-font-family);
  --el-font-title-medium: 600 var(--el-font-size-title-medium) /
    var(--el-line-height-title-medium) var(--el-font-family);
  --el-font-title-large: 600 var(--el-font-size-title-large) /
    var(--el-line-height-title-large) var(--el-font-family);
  --el-font-headline-small: 600 var(--el-font-size-headline-small) /
    var(--el-line-height-headline-small) var(--el-font-family);
  --el-font-headline-medium: 600 var(--el-font-size-headline-medium) /
    var(--el-line-height-headline-medium) var(--el-font-family);
  --el-font-headline-large: 600 var(--el-font-size-headline-large) /
    var(--el-line-height-headline-large) var(--el-font-family);
  --el-font-display-medium: 600 var(--el-font-size-display-medium) /
    var(--el-line-height-display-medium) var(--el-font-family);
  --el-font-display-large: 600 var(--el-font-size-display-large) /
    var(--el-line-height-display-large) var(--el-font-family);
}
:root {
  --el-size-1: 2px;
  --el-size-2: 4px;
  --el-size-3: 6px;
  --el-size-4: 8px;
  --el-size-5: 12px;
  --el-size-6: 16px;
  --el-size-7: 20px;
  --el-size-8: 24px;
  --el-size-9: 28px;
  --el-size-10: 32px;
  --el-size-11: 36px;
  --el-size-12: 40px;
  --el-size-13: 48px;
  --el-size-14: 56px;
  --el-size-15: 64px;
  --el-size-16: 72px;
  --el-comp-size-xxxs: var(--el-size-6);
  --el-comp-size-xxs: var(--el-size-7);
  --el-comp-size-xs: var(--el-size-8);
  --el-comp-size-s: var(--el-size-9);
  --el-comp-size-m: var(--el-size-10);
  --el-comp-size-l: var(--el-size-11);
  --el-comp-size-xl: var(--el-size-12);
  --el-comp-size-xxl: var(--el-size-13);
  --el-comp-size-xxxl: var(--el-size-14);
  --el-comp-size-xxxxl: var(--el-size-15);
  --el-comp-size-xxxxxl: var(--el-size-16);
  --el-pop-padding-s: var(--el-size-2);
  --el-pop-padding-m: var(--el-size-3);
  --el-pop-padding-l: var(--el-size-4);
  --el-pop-padding-xl: var(--el-size-5);
  --el-pop-padding-xxl: var(--el-size-6);
  --el-comp-paddingLR-xxs: var(--el-size-1);
  --el-comp-paddingLR-xs: var(--el-size-2);
  --el-comp-paddingLR-s: var(--el-size-4);
  --el-comp-paddingLR-m: var(--el-size-5);
  --el-comp-paddingLR-l: var(--el-size-6);
  --el-comp-paddingLR-xl: var(--el-size-8);
  --el-comp-paddingLR-xxl: var(--el-size-10);
  --el-comp-paddingTB-xxs: var(--el-size-1);
  --el-comp-paddingTB-xs: var(--el-size-2);
  --el-comp-paddingTB-s: var(--el-size-4);
  --el-comp-paddingTB-m: var(--el-size-5);
  --el-comp-paddingTB-l: var(--el-size-6);
  --el-comp-paddingTB-xl: var(--el-size-8);
  --el-comp-paddingTB-xxl: var(--el-size-10);
  --el-comp-margin-xxs: var(--el-size-1);
  --el-comp-margin-xs: var(--el-size-2);
  --el-comp-margin-s: var(--el-size-4);
  --el-comp-margin-m: var(--el-size-5);
  --el-comp-margin-l: var(--el-size-6);
  --el-comp-margin-xl: var(--el-size-7);
  --el-comp-margin-xxl: var(--el-size-8);
  --el-comp-margin-xxxl: var(--el-size-10);
  --el-comp-margin-xxxxl: var(--el-size-12);
}
