/**
 * @component List
 * @useGlobalTokens ["--cw-control-height-lg","--cw-control-height","--cw-padding-sm","--cw-margin-lg","--cw-padding","--cw-color-primary","--cw-padding-xs","--cw-margin","--cw-color-text","--cw-color-text-description","--cw-motion-duration-slow","--cw-line-width","--cw-font-size","--cw-line-height","--cw-font-family","--cw-margin-xxs","--cw-margin-xxl","--cw-font-height","--cw-color-split","--cw-font-size-sm","--cw-color-text-disabled","--cw-font-size-lg","--cw-line-height-lg","--cw-line-type","--cw-padding-lg","--cw-border-radius-lg","--cw-color-border","--cw-screen-sm","--cw-screen-md","--cw-margin-sm"]
 */
.cw-nasl.cw-list,
.cw-nasl.cw-list-css-var {
  /**
   * @desc 头像右间距
   * @type size
   */
  --cw-list-avatar-margin-right: 16px;

  /**
   * @desc 内容宽度
   * @type size
   */
  --cw-list-content-width: 220px;

  /**
   * @desc 描述文字大小
   * @type size
   */
  --cw-list-description-font-size: 14px;

  /**
   * @desc 空文本内边距
   * @type size
   */
  --cw-list-empty-text-padding: 16px;

  /**
   * @desc 底部区域背景色
   * @type input
   */
  --cw-list-footer-bg: transparent;

  /**
   * @desc 头部区域背景色
   * @type input
   */
  --cw-list-header-bg: transparent;

  /**
   * @desc 列表项内间距
   * @type input
   */
  --cw-list-item-padding: 12px 0;

  /**
   * @desc 大号列表项内间距
   * @type size
   */
  --cw-list-item-padding-lg: 16px 24px;

  /**
   * @desc 小号列表项内间距
   * @type size
   */
  --cw-list-item-padding-sm: 8px 16px;

  /**
   * @desc Meta 下间距
   * @type size
   */
  --cw-list-meta-margin-bottom: 16px;

  /**
   * @desc 标题下间距
   * @type size
   */
  --cw-list-title-margin-bottom: 12px;
}