/**
 * @component List
 */
.cw-nasl.cw-list,
.cw-nasl.cw-list-css-var {
  /**
   * @desc 头像右间距
   * @type size
   */
  --cw-list-avatar-margin-right: var(--cw-padding);

  /**
   * @desc 内容宽度
   * @type size
   */
  --cw-list-content-width: 220px;

  /**
   * @desc 描述文字大小
   * @type size
   */
  --cw-list-description-font-size: var(--cw-font-size);

  /**
   * @desc 空文本内边距
   * @type size
   */
  --cw-list-empty-text-padding: var(--cw-padding);

  /**
   * @desc 底部区域背景色
   * @type input
   */
  --cw-list-footer-bg: transparent;

  /**
   * @desc 头部区域背景色
   * @type input
   */
  --cw-list-header-bg: transparent;

  /**
   * @desc 列表项内间距
   * @type input
   */
  --cw-list-item-padding: var(--cw-padding-content-vertical) 0;

  /**
   * @desc 大号列表项内间距
   * @type size
   */
  --cw-list-item-padding-lg: var(--cw-padding-content-vertical-lg) var(--cw-padding-content-horizontal-lg);

  /**
   * @desc 小号列表项内间距
   * @type size
   */
  --cw-list-item-padding-sm: var(--cw-padding-content-vertical-sm) var(--cw-padding-content-horizontal);

  /**
   * @desc Meta 下间距
   * @type size
   */
  --cw-list-meta-margin-bottom: var(--cw-padding);

  /**
   * @desc 标题下间距
   * @type size
   */
  --cw-list-title-margin-bottom: var(--cw-padding-sm);
}