/**
 * @component van-tag
 */
:root,
:host {
  /**
   * @type input
   */
  --van-tag-padding: 0 var(--van-padding-base);
  /**
   * @type color
   */
  --van-tag-text-color: var(--van-white);
  /**
   * @type input
   */
  --van-tag-font-size: var(--van-font-size-sm);
  /**
   * @type input
   */
  --van-tag-radius: 2px;
  /**
   * @type input
   */
  --van-tag-line-height: 16px;
  /**
   * @type input
   */
  --van-tag-medium-padding: 2px 6px;
  /**
   * @type input
   */
  --van-tag-large-padding: var(--van-padding-base) var(--van-padding-xs);
  /**
   * @type input
   */
  --van-tag-large-radius: var(--van-radius-md);
  /**
   * @type input
   */
  --van-tag-large-font-size: var(--van-font-size-md);
  /**
   * @type input
   */
  --van-tag-round-radius: var(--van-radius-max);
  /**
   * @type color
   */
  --van-tag-danger-color: var(--van-danger-color);
  /**
   * @type color
   */
  --van-tag-primary-color: var(--van-primary-color);
  /**
   * @type color
   */
  --van-tag-success-color: var(--van-success-color);
  /**
   * @type color
   */
  --van-tag-warning-color: var(--van-warning-color);
  /**
   * @type color
   */
  --van-tag-default-color: var(--van-gray-6);
  /**
   * @type color
   */
  --van-tag-plain-background: var(--van-background-2);
}