/**
 * @component Select
 * @useGlobalTokens ["--cw-padding-sm","--cw-control-height","--cw-color-text","--cw-font-size","--cw-line-height","--cw-font-family","--cw-motion-duration-mid","--cw-motion-ease-in-out","--cw-color-text-placeholder","--cw-font-size-icon","--cw-color-text-quaternary","--cw-motion-duration-slow","--cw-color-text-tertiary","--cw-padding-xs","--cw-control-padding-horizontal-sm","--cw-line-width","--cw-border-radius","--cw-control-height-sm","--cw-border-radius-sm","--cw-font-size-lg","--cw-border-radius-lg","--cw-control-height-xs","--cw-border-radius-xs","--cw-control-height-lg","--cw-control-padding-horizontal","--cw-color-icon","--cw-color-icon-hover","--cw-padding-xxs","--cw-color-bg-elevated","--cw-box-shadow-secondary","--cw-color-text-description","--cw-font-size-sm","--cw-color-primary","--cw-color-bg-container-disabled","--cw-color-text-disabled","--cw-motion-ease-out-quint","--cw-motion-ease-in-quint","--cw-motion-ease-out-circ","--cw-motion-ease-in-out-circ","--cw-color-border","--cw-color-primary-hover","--cw-control-outline","--cw-control-outline-width","--cw-line-type","--cw-color-error","--cw-color-error-hover","--cw-color-error-outline","--cw-color-warning","--cw-color-warning-hover","--cw-color-warning-outline","--cw-color-fill-tertiary","--cw-color-fill-secondary","--cw-color-error-bg","--cw-color-error-bg-hover","--cw-color-warning-bg","--cw-color-warning-bg-hover","--cw-color-bg-container","--cw-color-split"]
 */
.cw-nasl.cw-select,
.cw-nasl.cw-select-css-var {
  /**
   * @desc 清空按钮背景色
   * @type color
   */
  --cw-select-clear-bg: var(--cw-color-bg-container);

  /**
   * @desc 多选标签背景色
   * @type color
   */
  --cw-select-multiple-item-bg: var(--cw-color-fill-secondary);

  /**
   * @desc 多选标签边框色
   * @type input
   */
  --cw-select-multiple-item-border-color: transparent;

  /**
   * @desc 多选标签禁用边框色
   * @type input
   */
  --cw-select-multiple-item-border-color-disabled: transparent;

  /**
   * @desc 多选标签禁用文本颜色
   * @type color
   */
  --cw-select-multiple-item-color-disabled: var(--cw-color-text-disabled);

  /**
   * @desc 多选标签高度
   * @type size
   */
  --cw-select-multiple-item-height: var(--cw-control-height-sm);

  /**
   * @desc 大号多选标签高度
   * @type size
   */
  --cw-select-multiple-item-height-lg: var(--cw-control-height);

  /**
   * @desc 多选框禁用背景
   * @type color
   */
  --cw-select-multiple-selector-bg-disabled: var(--cw-color-bg-container-disabled);

  /**
   * @desc 选项激活态时背景色
   * @type color
   */
  --cw-select-option-active-bg: var(--cw-control-item-bg-hover);

  /**
   * @desc 选项字体大小
   * @type size
   */
  --cw-select-option-font-size: var(--cw-font-size);

  /**
   * @desc 选项高度
   * @type size
   */
  --cw-select-option-height: var(--cw-control-height);

  /**
   * @desc 选项行高
   * @type input
   */
  --cw-select-option-line-height: var(--cw-line-height);

  /**
   * @desc 选项内间距
   * @type size
   */
  --cw-select-option-padding: calc(calc(var(--cw-control-height) - calc(var(--cw-font-size) * var(--cw-line-height))) / 2) var(--cw-control-padding-horizontal);

  /**
   * @desc 选项选中时背景色
   * @type color
   */
  --cw-select-option-selected-bg: var(--cw-control-item-bg-active);

  /**
   * @desc 选项选中时文本颜色
   * @type color
   */
  --cw-select-option-selected-color: var(--cw-color-text);

  /**
   * @desc 选项选中时文本字重
   * @type input
   */
  --cw-select-option-selected-font-weight: var(--cw-font-weight-strong);

  /**
   * @desc 选框背景色
   * @type color
   */
  --cw-select-selector-bg: var(--cw-color-bg-container);

  /**
   * @type size
   */
  --cw-select-show-arrow-padding-inline-end: calc(var(--cw-font-size) * 1.25);

  /**
   * @desc 单选大号回填项高度
   * @type size
   */
  --cw-select-single-item-height-lg: var(--cw-control-height-lg);

  /**
   * @desc 下拉菜单 z-index
   * @type input
   */
  --cw-select-z-index-popup: calc(var(--cw-z-index-popup-base) + 50);
}