/**
 * @component el-upload-pro
 */
:root {
  /**
   * @desc 上传组件的层级(图片上传遮罩)
   * @type number
   */
  --el-upload-z-index: 2;

  /**
   * @desc 上传组件禁用状态的文字颜色(图片上传)
   * @type color
   */
  --el-upload-text-disabled-color: var(--el-text-color-disabled);

  /**
   * @desc 上传成功图标的颜色
   * @type color
   */
  --el-upload-icon-check-circle-filled-color: var(--el-success-color);

  /**
   * @desc 上传错误图标的颜色
   * @type color
   */
  --el-upload-icon-error-circle-filled-color: var(--el-error-color);

  /**
   * @hidden
   * @desc 上传加载图标的颜色
   * @type color
   */
  --el-upload-icon-loading-color: var(--el-brand-color);

  /**
   * @desc 上传等待图标的颜色
   * @type color
   */
  --el-upload-icon-time-filled-color: var(--el-text-color-placeholder);

  /**
   * @desc 上传高亮颜色(图片拖拽上传)
   * @type color
   */
  --el-upload-highlight-color: var(--el-text-color-brand);

  /**
   * @hidden
   * @desc 上传添加图标的颜色
   * @type color
   */
  --el-upload-icon-add-color: var(--el-text-color-primary);

  /**
   * @desc 上传文件名的颜色
   * @type color
   */
  --el-upload-file-name-color: var(--el-text-color-secondary);

  /**
   * @hidden
   * @desc 上传小图标的颜色
   * @type color
   */
  --el-upload-small-color: var(--el-text-color-placeholder);

  /**
   * @desc 上传占位符的颜色
   * @type color
   */
  --el-upload-placeholder-color: var(--el-text-color-placeholder);

  /**
   * @desc 上传图标的颜色(图片上传)
   * @type color
   */
  --el-upload-icon-color: var(--el-text-color-placeholder);

  /**
   * @desc 上传禁用状态图标的颜色(图片上传)
   * @type color
   */
  --el-upload-icon-disabled-color: var(--el-text-color-disabled);

  /**
   * @hidden
   * @desc 上传图标悬停时的颜色
   * @type color
   */
  --el-upload-icon-color-hover: var(--el-text-color-secondary);

  /**
   * @hidden
   * @desc 上传列表文件图标的颜色
   * @type color
   */
  --el-upload-list-file-icon-color: var(--el-brand-color);

  /**
   * @hidden
   * @desc 上传列表项错误状态的颜色
   * @type color
   */
  --el-upload-list-item-error-color: var(--el-error-color);

  /**
   * @hidden
   * @desc 上传列表控制项悬停时的颜色
   * @type color
   */
  --el-upload-list-control-color-hover: var(--el-error-color);

  /**
   * @hidden
   * @desc 上传卡片项错误图标的警告颜色
   * @type color
   */
  --el-upload-card-item-error-icon-warning-color: var(--el-error-color);

  /**
   * @hidden
   * @desc 上传卡片项状态的颜色
   * @type color
   */
  --el-upload-card-item-status-color: var(--el-error-color);

  /**
   * @hidden
   * @desc 上传卡片项背景色
   * @type color
   */
  --el-upload-card-item-bg-color: var(--el-bg-color-page);

  /**
   * @desc 上传卡片项悬停时的边框颜色
   * @type color
   */
  --el-upload-card-item-bg-border-color-hover: var(--el-brand-color);

  /**
   * @hidden
   * @desc 上传卡片名称的颜色
   * @type color
   */
  --el-upload-card-name-color: var(--el-text-color-primary);

  /**
   * @hidden
   * @desc 上传卡片盒子的背景色
   * @type color
   */
  --el-upload-card-box-bg-color: var(--el-bg-color-page);

  /**
   * @desc 上传卡片容器的背景色
   * @type color
   */
  --el-upload-card-container-bg-color: var(--el-bg-color-secondarycontainer);

  /**
   * @hidden
   * @desc 上传卡片状态的颜色
   * @type color
   */
  --el-upload-card-status-color: var(--el-text-color-disabled);

  /**
   * @hidden
   * @desc 上传卡片遮罩的颜色
   * @type color
   */
  --el-upload-card-mask-color: var(--el-bg-color-container);

  /**
   * @desc 上传卡片遮罩的背景色
   * @type color
   */
  --el-upload-card-mask-bg-color: var(--el-mask-active);

  /**
   * @desc 上传卡片遮罩的文字颜色
   * @type color
   */
  --el-upload-card-mask-text-color: var(--el-text-color-anti);

  /**
   * @desc 上传拖拽区域的颜色(图片上传)
   * @type color
   */
  --el-upload-dragger-color: var(--el-text-color-secondary);

  /**
   * @hidden
   * @desc 上传拖拽区域激活时的背景色
   * @type color
   */
  --el-upload-dragger-bg-color-active: var(--el-bg-color-container-active);

  /**
   * @hidden
   * @desc 上传拖拽区域激活时的边框颜色
   * @type color
   */
  --el-upload-dragger-border-color-active: var(--el-brand-color);

  /**
   * @desc 上传拖拽区域悬停时的边框颜色(图片上传)
   * @type color
   */
  --el-upload-dragger-border-color-hover: var(--el-brand-color);

  /**
   * @desc 上传拖拽区域错误状态的边框颜色
   * @type color
   */
  --el-upload-dragger-error-border-color: var(--el-error-color);

  /**
   * @desc 上传拖拽区域错误状态悬停时的边框颜色
   * @type color
   */
  --el-upload-dragger-error-border-color-hover: var(--el-error-color);

  /**
   * @hidden
   * @desc 上传拖拽区域的文字颜色
   * @type color
   */
  --el-upload-dragger-text-color: var(--el-text-color-primary);

  /**
   * @desc 上传拖拽区域图片包装的背景色
   * @type color
   */
  --el-upload-dragger-img-wrap-bg-color: var(--el-bg-color-secondarycontainer);

  /**
   * @desc 上传拖拽区域进度信息按钮悬停时的背景色
   * @type color
   */
  --el-upload-dragger-progress-info-button-bg-color-hover: transparent;

  /**
   * @hidden
   * @desc 上传单个显示文本的颜色
   * @type color
   */
  --el-upload-single-display-text-color: var(--el-text-color-secondary);

  /**
   * @desc 上传单个进度条的颜色(基础文件上传进度)
   * @type color
   */
  --el-upload-single-progress-color: var(--el-brand-color);

  /**
   * @hidden
   * @desc 上传单个输入删除按钮的颜色
   * @type color
   */
  --el-upload-single-input-delete-color: var(--el-brand-color);

  /**
   * @desc 上传流程空状态的颜色
   * @type color
   */
  --el-upload-flow-empty-color: var(--el-text-color-placeholder);

  /**
   * @desc 上传流程表头的颜色
   * @type color
   */
  --el-upload-flow-table-th-color: var(--el-text-color-placeholder);

  /**
   * @desc 上传流程表头的背景色
   * @type color
   */
  --el-upload-flow-table-th-bg-color: var(--el-bg-color-container);

  /**
   * @desc 上传流程表格单元格的颜色
   * @type color
   */
  --el-upload-flow-table-td-color: var(--el-text-color-primary);

  /**
   * @hidden
   * @desc 上传流程按钮的颜色
   * @type color
   */
  --el-upload-flow-button-color: var(--el-text-color-placeholder);

  /**
   * @hidden
   * @desc 上传流程按钮悬停时的颜色
   * @type color
   */
  --el-upload-flow-button-color-hover: var(--el-text-color-secondary);

  /**
   * @hidden
   * @desc 上传提示错误的颜色
   * @type color
   */
  --el-upload-tips-error-color: var(--el-error-color);

  /**
   * @hidden
   * @desc 上传提示警告的颜色
   * @type color
   */
  --el-upload-tips-warn-color: var(--el-warning-color);

  /**
   * @desc 上传卡片遮罩禁用状态的透明度
   * @type number
   */
  --el-upload-card-mask-opacity-disabled: 0.3;

  /**
   * @desc 上传列表文件缩略图图标的大小
   * @type size
   */
  --el-upload-list-file-thumbnail-icon: var(--el-comp-size-s);

  /**
   * @hidden
   * @desc 上传列表文件图标的字体大小
   * @type size
   */
  --el-upload-list-file-icon-font-size: var(--el-comp-size-xl);

  /**
   * @hidden
   * @desc 上传卡片项添加图标的字体大小
   * @type size
   */
  --el-upload-card-item-icon-add-font-size: var(--el-comp-size-m);

  /**
   * @hidden
   * @desc 上传拖拽区域进度图标的字体大小
   * @type size
   */
  --el-upload-dragger-progress-icon-font-size: var(--el-comp-size-xxxs);

  /**
   * @hidden
   * @desc 上传列表项的字体大小
   * @type size
   */
  --el-upload-list-item-font-size: var(--el-font-body-medium);

  /**
   * @desc 上传卡片的字体
   * @type font
   */
  --el-upload-card-font: var(--el-font-body-small);

  /**
   * @desc 上传卡片状态的字体
   * @type font
   */
  --el-upload-card-status-font: var(--el-font-body-small);

  /**
   * @desc 上传拖拽区域的字体
   * @type font
   */
  --el-upload-dragger-font: var(--el-font-body-medium);

  /**
   * @desc 上传拖拽区域文字的字体
   * @type font
   */
  --el-upload-dragger-text-font: var(--el-font-body-medium);

  /**
   * @hidden
   * @desc 上传小字体
   * @type font
   */
  --el-upload-small-font: var(--el-font-body-small);

  /**
   * @desc 上传单个显示文本的字体
   * @type font
   */
  --el-upload-single-display-text-font: var(--el-font-body-small);

  /**
   * @hidden
   * @desc 上传单个输入删除按钮的字体
   * @type font
   */
  --el-upload-single-input-delete-font: var(--el-font-body-medium);

  /**
   * @desc 上传流程表头的字体粗细
   * @type font-weight
   */
  --el-upload-flow-table-th-font-weight: normal;

  /**
   * @desc 上传图片的大小
   * @type size
   */
  --el-upload-img-size: 110px;

  /**
   * @hidden
   * @desc 上传列表文件的宽度
   * @type size
   */
  --el-upload-list-file-width: 100px;

  /**
   * @hidden
   * @desc 上传列表文件的高度
   * @type size
   */
  --el-upload-list-file-height: 100px;

  /**
   * @hidden
   * @desc 上传列表项的宽度
   * @type size
   */
  --el-upload-list-item-width: 496px;

  /**
   * @hidden
   * @desc 上传列表项的高度
   * @type size
   */
  --el-upload-list-item-height: 124px;

  /**
   * @hidden
   * @desc 上传列表名称的最大宽度
   * @type size
   */
  --el-upload-list-name-max-width: 200px;

  /**
   * @desc 上传卡片遮罩分隔线的高度
   * @type size
   */
  --el-upload-card-mask-divider-height: var(--el-comp-size-xxxs);

  /**
   * @desc 上传拖拽区域的宽度
   * @type size
   */
  --el-upload-dragger-width: 336px;

  /**
   * @desc 上传拖拽区域的高度
   * @type size
   */
  --el-upload-dragger-height: 144px;

  /**
   * @desc 上传拖拽区域图片包装的宽度
   * @type size
   */
  --el-upload-dragger-img-wrap-width: 110px;

  /**
   * @desc 上传拖拽区域图片包装的高度
   * @type size
   */
  --el-upload-dragger-img-wrap-height: 110px;

  /**
   * @desc 上传流程图片流的宽度
   * @type size
   */
  --el-upload-flow-image-flow-width: 498px;

  /**
   * @desc 上传流程的最大宽度
   * @type size
   */
  --el-upload-flow-max-width: 960px;

  /**
   * @desc 上传流程的最小宽度
   * @type size
   */
  --el-upload-flow-min-width: 498px;

  /**
   * @desc 上传流程空状态的高度
   * @type size
   */
  --el-upload-flow-empty-height: 184px;

  /**
   * @hidden
   * @desc 上传图标的迷你尺寸
   * @type size
   */
  --el-upload-icon-size-mini: calc(var(--el-font-size-body-medium) + 2px);

  /**
   * @desc 上传图标的尺寸
   * @type size
   */
  --el-upload-icon-size: calc(var(--el-font-size-body-medium) + 2px);

  /**
   * @desc 上传图标的大尺寸
   * @type size
   */
  --el-upload-icon-size-large: var(--el-comp-size-xs);

  /**
   * @desc 上传列表文件缩略图的尺寸
   * @type size
   */
  --el-upload-list-file-thumbnail-size: var(--el-comp-size-xxl);

  /**
   * @hidden
   * @desc 上传卡片项背景边框
   * @type border
   */
  --el-upload-card-item-bg-border: 1px dashed var(--el-component-border);

  /**
   * @hidden
   * @desc 上传列表项的边框
   * @type border
   */
  --el-upload-list-item-border: 1px solid var(--el-component-border);

  /**
   * @hidden
   * @desc 上传列表项的边框半径
   * @type border-radius
   */
  --el-upload-list-item-border-radius: var(--el-radius-default);

  /**
   * @desc 上传卡片盒子的边框
   * @type border
   */
  --el-upload-card-box-border: 1px dashed var(--el-component-border);

  /**
   * @desc 上传卡片盒子的边框半径
   * @type border-radius
   */
  --el-upload-card-box-border-radius: var(--el-radius-default);

  /**
   * @desc 上传卡片内容的边框
   * @type border
   */
  --el-upload-card-content-border: 1px solid var(--el-component-border);

  /**
   * @desc 上传拖拽区域的边框
   * @type border
   */
  --el-upload-dragger-border: 1px dashed var(--el-component-border);

  /**
   * @desc 上传拖拽区域的边框半径
   * @type border-radius
   */
  --el-upload-dragger-border-radius: var(--el-radius-small);

  /**
   * @desc 上传流程表格的边框
   * @type border
   */
  --el-upload-flow-table-border: 1px dashed var(--el-component-border);

  /**
   * @desc 上传流程表格行顶部的边框
   * @type border
   */
  --el-upload-flow-table-tr-border-top: 1px solid var(--el-component-border);

  /**
   * @desc 上传流程表头的边框
   * @type border
   */
  --el-upload-flow-table-th-border: 1px solid var(--el-component-border);

  /**
   * @desc 上传流程卡片区域的边框
   * @type border
   */
  --el-upload-flow-card-area-border: 1px dashed var(--el-component-border);

  /**
   * @desc 上传卡片容器的边框
   * @type border
   */
  --el-upload-card-contariner-border: 1px dashed var(--el-component-border);

  /**
   * @desc 上传拖拽区域按钮的底部间距
   * @type size
   */
  --el-upload-dragger-btns-bottom: var(--el-comp-margin-l);

  /**
   * @desc 上传流程表头的文本对齐方式
   * @type text-align
   */
  --el-upload-flow-table-th-text-align: left;
  /**
   * @hidden
   * @desc 上传列表文件右边距
   * @type margin
   */
  --el-upload-list-file-margin-right: var(--el-comp-margin-m);

  /**
   * @hidden
   * @desc 上传列表项内边距
   * @type padding
   */
  --el-upload-list-item-padding: var(--el-comp-paddingTB-m) var(--el-comp-paddingLR-m);

  /**
   * @hidden
   * @desc 上传列表项内部内边距
   * @type padding
   */
  --el-upload-list-item-inner-padding: var(--el-comp-paddingLR-s);

  /**
   * @hidden
   * @desc 上传列表项上边距
   * @type margin
   */
  --el-upload-list-item-margin-top: var(--el-comp-margin-m);

  /**
   * @desc 单个文件名右边距
   * @type margin
   */
  --el-upload-single-name-margin-right: var(--el-comp-margin-s);

  /**
   * @desc 单个文件名下边距
   * @type margin
   */
  --el-upload-single-name-margin-bottom: var(--el-comp-margin-s);

  /**
   * @desc 单个文件百分比左边距
   * @type margin
   */
  --el-upload-single-percent-margin-left: var(--el-comp-margin-xs);

  /**
   * @hidden
   * @desc 单个文件输入删除按钮左边距
   * @type margin
   */
  --el-upload-single-input-delete-margin-left: var(--el-comp-margin-l);

  /**
   * @hidden
   * @desc 单个文件输入触发器左边距
   * @type margin
   */
  --el-upload-single-file-input-trigger-margin-left: var(--el-comp-margin-l);

  /**
   * @desc 上传卡片项间距
   * @type margin
   */
  --el-upload-card-item-space: var(--el-comp-margin-s);

  /**
   * @hidden
   * @desc 上传卡片项错误图标警告下边距
   * @type margin
   */
  --el-upload-card-item-error-icon-warning-margin-bottom: var(--el-comp-margin-s);

  /**
   * @desc 上传卡片图标加载下边距
   * @type margin
   */
  --el-upload-card-icon-loading-margin-bottom: var(--el-comp-margin-s);

  /**
   * @desc 上传卡片名称上边距
   * @type margin
   */
  --el-upload-card-name-margin-top: var(--el-comp-margin-s);

  /**
   * @desc 上传卡片容器图标添加下边距
   * @type margin
   */
  --el-upload-card-container-icon-add-margin-bottom: var(--el-comp-margin-s);

  /**
   * @desc 上传卡片内容内边距
   * @type padding
   */
  --el-upload-card-content-padding: var(--el-comp-paddingTB-s) var(--el-comp-paddingLR-s);

  /**
   * @desc 上传卡片状态包装SVG下边距
   * @type margin
   */
  --el-upload-card-status-wrap-svg-margin-bottom: var(--el-comp-margin-s);

  /**
   * @desc 拖拽上传内边距
   * @type padding
   */
  --el-upload-dragger-padding: var(--el-comp-margin-l);

  /**
   * @desc 拖拽上传图片包装右边距
   * @type margin
   */
  --el-upload-dragger-img-wrap-margin-right: var(--el-comp-margin-l);

  /**
   * @desc 拖拽上传进度信息单行显示文本下边距
   * @type margin
   */
  --el-upload-dragger-progress-info-single-display-text-margin-bottom: var(--el-comp-margin-s);

  /**
   * @desc 拖拽上传进度取消按钮边距
   * @type margin
   */
  --el-upload-dragger-progress-cancel-margin: var(--el-comp-margin-l);

  /**
   * @desc 上传流占位符左边距
   * @type margin
   */
  --el-upload-flow-placeholder-margin-left: var(--el-comp-margin-l);

  /**
   * @desc 上传流底部上边距
   * @type margin
   */
  --el-upload-flow-bottom-margin-top: var(--el-comp-margin-xxl);

  /**
   * @desc 上传流按钮左边距
   * @type margin
   */
  --el-upload-flow-button-margin-left: var(--el-comp-margin-s);

  /**
   * @desc 上传流表格上边距
   * @type margin
   */
  --el-upload-flow-table-margin-top: var(--el-comp-margin-xxl);

  /**
   * @desc 上传流状态图标右边距
   * @type margin
   */
  --el-upload-flow-status-icon-margin-right: var(--el-comp-margin-s);

  /**
   * @desc 上传流表格单元格内边距
   * @type padding
   */
  --el-upload-flow-table-td-th-padding: var(--el-comp-paddingTB-m) var(--el-comp-paddingLR-l);

  /**
   * @desc 上传流卡片区域内边距
   * @type padding
   */
  --el-upload-flow-card-area-padding: var(--el-comp-paddingTB-m) var(--el-comp-paddingLR-m);

  /**
   * @desc 上传流卡片区域上边距
   * @type margin
   */
  --el-upload-flow-card-area-margin-top: var(--el-comp-margin-xxl);

  /**
   * @desc 上传显示文本上边距(基础文件上传)
   * @type margin
   */
  --el-upload-display-text-margin-top: var(--el-comp-margin-s);

  /**
   * @hidden
   * @desc 上传图标清除圆形填充上边距
   * @type margin
   */
  --el-upload-icon-clear-circle-filled-margin-top: var(--el-comp-margin-xxs);

  /**
   * @hidden
   * @desc 上传提示上边距
   * @type margin
   */
  --el-upload-tips-margin-top: var(--el-comp-margin-s);

  /**
   * @desc 上传卡片遮罩分隔符边距
   * @type margin
   */
  --el-upload-card-mask-divider-margin: 0 var(--el-comp-margin-l);

  /**
   * @desc 拖拽上传图片包装边框半径
   * @type border-radius
   */
  --el-upload-dragger-img-wrap-border-radius: var(--el-radius-default);

  /**
   * @desc 上传卡片图片包装边框半径
   * @type border-radius
   */
  --el-upload-card-img-wrap-border-radius: var(--el-radius-default);
}
