/**
 * @component el-upload-pro
 */
:root {
  --el-upload-z-index: 2;
  --el-upload-text-disabled-color: var(--el-text-color-disabled);
  --el-upload-icon-check-circle-filled-color: var(--el-success-color);
  --el-upload-icon-error-circle-filled-color: var(--el-error-color);
  --el-upload-icon-loading-color: var(--el-brand-color);
  --el-upload-icon-time-filled-color: var(--el-text-color-placeholder);
  --el-upload-highlight-color: var(--el-text-color-brand);
  --el-upload-icon-add-color: var(--el-text-color-primary);
  --el-upload-file-name-color: var(--el-text-color-secondary);
  --el-upload-small-color: var(--el-text-color-placeholder);
  --el-upload-placeholder-color: var(--el-text-color-placeholder);
  --el-upload-icon-color: var(--el-text-color-placeholder);
  --el-upload-icon-disabled-color: var(--el-text-color-disabled);
  --el-upload-icon-color-hover: var(--el-text-color-secondary);
  --el-upload-list-file-icon-color: var(--el-brand-color);
  --el-upload-list-item-error-color: var(--el-error-color);
  --el-upload-list-control-color-hover: var(--el-error-color);
  --el-upload-card-item-error-icon-warning-color: var(--el-error-color);
  --el-upload-card-item-status-color: var(--el-error-color);
  --el-upload-card-item-bg-color: var(--el-bg-color-page);
  --el-upload-card-item-bg-border-color-hover: var(--el-brand-color);
  --el-upload-card-name-color: var(--el-text-color-primary);
  --el-upload-card-box-bg-color: var(--el-bg-color-page);
  --el-upload-card-container-bg-color: var(--el-bg-color-secondarycontainer);
  --el-upload-card-status-color: var(--el-text-color-disabled);
  --el-upload-card-mask-color: var(--el-bg-color-container);
  --el-upload-card-mask-bg-color: var(--el-mask-active);
  --el-upload-card-mask-text-color: var(--el-text-color-anti);
  --el-upload-dragger-color: var(--el-text-color-secondary);
  --el-upload-dragger-bg-color-active: var(--el-bg-color-container-active);
  --el-upload-dragger-border-color-active: var(--el-brand-color);
  --el-upload-dragger-border-color-hover: var(--el-brand-color);
  --el-upload-dragger-error-border-color: var(--el-error-color);
  --el-upload-dragger-error-border-color-hover: var(--el-error-color);
  --el-upload-dragger-text-color: var(--el-text-color-primary);
  --el-upload-dragger-img-wrap-bg-color: var(--el-bg-color-secondarycontainer);
  --el-upload-dragger-progress-info-button-bg-color-hover: transparent;
  --el-upload-single-display-text-color: var(--el-text-color-secondary);
  --el-upload-single-progress-color: var(--el-brand-color);
  --el-upload-single-input-delete-color: var(--el-brand-color);
  --el-upload-flow-empty-color: var(--el-text-color-placeholder);
  --el-upload-flow-table-th-color: var(--el-text-color-placeholder);
  --el-upload-flow-table-th-bg-color: var(--el-bg-color-container);
  --el-upload-flow-table-td-color: var(--el-text-color-primary);
  --el-upload-flow-button-color: var(--el-text-color-placeholder);
  --el-upload-flow-button-color-hover: var(--el-text-color-secondary);
  --el-upload-tips-error-color: var(--el-error-color);
  --el-upload-tips-warn-color: var(--el-warning-color);
  --el-upload-card-mask-opacity-disabled: 0.3;
  --el-upload-list-file-thumbnail-icon: var(--el-comp-size-s);
  --el-upload-list-file-icon-font-size: var(--el-comp-size-xl);
  --el-upload-card-item-icon-add-font-size: var(--el-comp-size-m);
  --el-upload-dragger-progress-icon-font-size: var(--el-comp-size-xxxs);
  --el-upload-list-item-font-size: var(--el-font-body-medium);
  --el-upload-card-font: var(--el-font-body-small);
  --el-upload-card-status-font: var(--el-font-body-small);
  --el-upload-dragger-font: var(--el-font-body-medium);
  --el-upload-dragger-text-font: var(--el-font-body-medium);
  --el-upload-small-font: var(--el-font-body-small);
  --el-upload-single-display-text-font: var(--el-font-body-small);
  --el-upload-single-input-delete-font: var(--el-font-body-medium);
  --el-upload-flow-table-th-font-weight: normal;
  --el-upload-img-size: 110px;
  --el-upload-list-file-width: 100px;
  --el-upload-list-file-height: 100px;
  --el-upload-list-item-width: 496px;
  --el-upload-list-item-height: 124px;
  --el-upload-list-name-max-width: 200px;
  --el-upload-card-mask-divider-height: var(--el-comp-size-xxxs);
  --el-upload-dragger-width: 336px;
  --el-upload-dragger-height: 144px;
  --el-upload-dragger-img-wrap-width: 110px;
  --el-upload-dragger-img-wrap-height: 110px;
  --el-upload-flow-image-flow-width: 498px;
  --el-upload-flow-max-width: 960px;
  --el-upload-flow-min-width: 498px;
  --el-upload-flow-empty-height: 184px;
  --el-upload-icon-size-mini: calc(var(--el-font-size-body-medium) + 2px);
  --el-upload-icon-size: calc(var(--el-font-size-body-medium) + 2px);
  --el-upload-icon-size-large: var(--el-comp-size-xs);
  --el-upload-list-file-thumbnail-size: var(--el-comp-size-xxl);
  --el-upload-card-item-bg-border: 1px dashed var(--el-component-border);
  --el-upload-list-item-border: 1px solid var(--el-component-border);
  --el-upload-list-item-border-radius: var(--el-radius-default);
  --el-upload-card-box-border: 1px dashed var(--el-component-border);
  --el-upload-card-box-border-radius: var(--el-radius-default);
  --el-upload-card-content-border: 1px solid var(--el-component-border);
  --el-upload-dragger-border: 1px dashed var(--el-component-border);
  --el-upload-dragger-border-radius: var(--el-radius-small);
  --el-upload-flow-table-border: 1px dashed var(--el-component-border);
  --el-upload-flow-table-tr-border-top: 1px solid var(--el-component-border);
  --el-upload-flow-table-th-border: 1px solid var(--el-component-border);
  --el-upload-flow-card-area-border: 1px dashed var(--el-component-border);
  --el-upload-card-contariner-border: 1px dashed var(--el-component-border);
  --el-upload-dragger-btns-bottom: var(--el-comp-margin-l);
  --el-upload-flow-table-th-text-align: left;
  --el-upload-list-file-margin-right: var(--el-comp-margin-m);
  --el-upload-list-item-padding: var(--el-comp-paddingTB-m) var(--el-comp-paddingLR-m);
  --el-upload-list-item-inner-padding: var(--el-comp-paddingLR-s);
  --el-upload-list-item-margin-top: var(--el-comp-margin-m);
  --el-upload-single-name-margin-right: var(--el-comp-margin-s);
  --el-upload-single-name-margin-bottom: var(--el-comp-margin-s);
  --el-upload-single-percent-margin-left: var(--el-comp-margin-xs);
  --el-upload-single-input-delete-margin-left: var(--el-comp-margin-l);
  --el-upload-single-file-input-trigger-margin-left: var(--el-comp-margin-l);
  --el-upload-card-item-space: var(--el-comp-margin-s);
  --el-upload-card-item-error-icon-warning-margin-bottom: var(--el-comp-margin-s);
  --el-upload-card-icon-loading-margin-bottom: var(--el-comp-margin-s);
  --el-upload-card-name-margin-top: var(--el-comp-margin-s);
  --el-upload-card-container-icon-add-margin-bottom: var(--el-comp-margin-s);
  --el-upload-card-content-padding: var(--el-comp-paddingTB-s) var(--el-comp-paddingLR-s);
  --el-upload-card-status-wrap-svg-margin-bottom: var(--el-comp-margin-s);
  --el-upload-dragger-padding: var(--el-comp-margin-l);
  --el-upload-dragger-img-wrap-margin-right: var(--el-comp-margin-l);
  --el-upload-dragger-progress-info-single-display-text-margin-bottom: var(--el-comp-margin-s);
  --el-upload-dragger-progress-cancel-margin: var(--el-comp-margin-l);
  --el-upload-flow-placeholder-margin-left: var(--el-comp-margin-l);
  --el-upload-flow-bottom-margin-top: var(--el-comp-margin-xxl);
  --el-upload-flow-button-margin-left: var(--el-comp-margin-s);
  --el-upload-flow-table-margin-top: var(--el-comp-margin-xxl);
  --el-upload-flow-status-icon-margin-right: var(--el-comp-margin-s);
  --el-upload-flow-table-td-th-padding: var(--el-comp-paddingTB-m) var(--el-comp-paddingLR-l);
  --el-upload-flow-card-area-padding: var(--el-comp-paddingTB-m) var(--el-comp-paddingLR-m);
  --el-upload-flow-card-area-margin-top: var(--el-comp-margin-xxl);
  --el-upload-display-text-margin-top: var(--el-comp-margin-s);
  --el-upload-icon-clear-circle-filled-margin-top: var(--el-comp-margin-xxs);
  --el-upload-tips-margin-top: var(--el-comp-margin-s);
  --el-upload-card-mask-divider-margin: 0 var(--el-comp-margin-l);
  --el-upload-dragger-img-wrap-border-radius: var(--el-radius-default);
  --el-upload-card-img-wrap-border-radius: var(--el-radius-default);
}
