.el-cascader .el-input__wrapper.el-input__wrapper {
  padding: 1px 10px;
}
.el-cascader .el-input__inner.el-input__inner {
  padding: 0;
}
.el-cascader .el-input {
  --el-input-width: 100%;
}
.el-cascader{
  width: 240px
}
