/**
 * @component van-slider
 */
:root,
:host {
  /**
   * @type color
   */
  --van-slider-active-background: var(--van-primary-color);
  /**
   * @type color
   */
  --van-slider-inactive-background: var(--van-gray-3);
  /**
   * @type input
   */
  --van-slider-disabled-opacity: var(--van-disabled-opacity);
  /**
   * @type input
   */
  --van-slider-bar-height: 2px;
  /**
   * @type input
   */
  --van-slider-button-width: 24px;
  /**
   * @type input
   */
  --van-slider-button-height: 24px;
  /**
   * @type input
   */
  --van-slider-button-radius: 50%;
  /**
   * @type color
   */
  --van-slider-button-background: var(--van-white);
  /**
   * @type input
   */
  --van-slider-button-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}