/**
 * @component el-button-pro
 */
:root {
  --el-btn-height-s: var(--el-comp-size-xs);
  --el-btn-height-default: var(--el-comp-size-m);
  --el-btn-height-l: var(--el-comp-size-xl);
  --el-btn-border-radius: var(--el-radius-default);
  --el-btn-shape-border-radius-s: calc(var(--el-btn-height-s) / 2);
  --el-btn-shape-border-radius-default: calc(var(--el-btn-height-default) / 2);
  --el-btn-shape-border-radius-l: calc(var(--el-btn-height-l) / 2);
  --el-btn-font-s: var(--el-font-body-small);
  --el-btn-font-default: var(--el-font-body-medium);
  --el-btn-font-l: var(--el-font-body-large);
  --el-btn-icon-size-s: var(--el-font-size-body-medium);
  --el-btn-icon-size-default: var(--el-font-size-body-large);
  --el-btn-icon-size-l: var(--el-font-size-title-large);
  --el-btn-loading-size: var(--el-font-size-body-large);
  --el-btn-icon-text-margin-left: 8px;
  --el-btn-padding-horizontal-s: var(--el-comp-paddingLR-s);
  --el-btn-padding-horizontal-default: var(--el-comp-paddingLR-l);
  --el-btn-padding-horizontal-l: var(--el-comp-paddingLR-xl);
  --el-btn-border-width: 1px;
  --el-btn-color-primary: var(--el-brand-color);
  --el-btn-color-primary-hover: var(--el-brand-color-hover);
  --el-btn-color-primary-active: var(--el-brand-color-active);
  --el-btn-color-primary-disabled: var(--el-brand-color-disabled);
  --el-btn-color-success: var(--el-success-color);
  --el-btn-color-success-hover: var(--el-success-color-hover);
  --el-btn-color-success-active: var(--el-success-color-active);
  --el-btn-color-success-disabled: var(--el-success-color-disabled);
  --el-btn-color-warning: var(--el-warning-color);
  --el-btn-color-warning-hover: var(--el-warning-color-hover);
  --el-btn-color-warning-active: var(--el-warning-color-active);
  --el-btn-color-warning-disabled: var(--el-warning-color-disabled);
  --el-btn-color-danger: var(--el-error-color);
  --el-btn-color-danger-hover: var(--el-error-color-hover);
  --el-btn-color-danger-active: var(--el-error-color-active);
  --el-btn-color-danger-disabled: var(--el-error-color-disabled);
  --el-btn-color-white-bg: var(--el-bg-color-specialcomponent);
  --el-btn-color-white-bg-hover: var(--el-bg-color-specialcomponent);
  --el-btn-color-white-bg-active: var(--el-bg-color-container-active);
  --el-btn-color-white-bg-disabled: var(--el-bg-color-component-disabled);
  --el-btn-color-white-ghost: var(--el-text-color-anti);
  --el-btn-color-white-ghost-hover: var(--el-brand-color-hover);
  --el-btn-color-white-ghost-active: var(--el-brand-color-active);
  --el-btn-color-white-ghost-disabled: var(--el-border-level-2-color);
  --el-btn-color-gray-bg: var(--el-bg-color-component);
  --el-btn-color-gray-bg-hover: var(--el-bg-color-component-hover);
  --el-btn-color-gray-bg-active: var(--el-bg-color-component-active);
  --el-btn-color-gray-bg-disabled: var(--el-bg-color-component-disabled);
  --el-btn-color-text-bg: transparent;
  --el-btn-color-text-bg-hover: var(--el-bg-color-container-hover);
  --el-btn-color-text-bg-active: var(--el-bg-color-container-active);
  --el-btn-color-text-bg-disabled: transparent;
  --el-btn-color-border-gray: var(--el-border-level-2-color);
  --el-btn-color-border-gray-hover: var(--el-brand-color-hover);
  --el-btn-color-border-gray-active: var(--el-brand-color-active);
  --el-btn-color-border-gray-disabled: var(--el-border-level-2-color);
  --el-btn-color-text: var(--el-text-color-primary);
  --el-btn-color-text-hover: var(--el-brand-color-hover);
  --el-btn-color-text-active: var(--el-brand-color-active);
  --el-btn-color-text-disabled: var(--el-text-color-disabled);
  --el-btn-color-text-gray: var(--el-text-color-primary);
  --el-btn-color-text-gray-hover: var(--el-text-color-primary);
  --el-btn-color-text-gray-active: var(--el-text-color-primary);
  --el-btn-color-text-gray-disabled: var(--el-text-color-disabled);
  --el-btn-color-none: transparent;
  --el-btn-color-none-hover: transparent;
  --el-btn-color-none-active: transparent;
  --el-btn-color-none-disabled: transparent;
  --el-btn-text-variant-base-color: var(--el-text-color-anti);
  --el-btn-color-ghost-disabled: rgba(255, 255, 255, 0.22);
}
