/**
 * @component el-calendar-pro
 */
:root {
  --el-calendar-highlight-color: var(--el-brand-color);
  --el-calendar-title-color: var(--el-text-color-primary);
  --el-calendar-border-color: var(--el-border-level-1-color);
  --el-calendar-body-hover-bg-color: var(--el-brand-color-light);
  --el-calendar-body-cell-color: var(--el-text-color-secondary);
  --el-calendar-body-cell-hover-bg-color: var(--el-bg-color-container-hover);
  --el-calendar-head-cell-color: var(--el-text-color-secondary);
  --el-calendar-head-bg-color: var(--el-bg-color-container);
  --el-calendar-body-cell-border-color: var(--el-border-level-1-color);
  --el-calendar-body-cell-display-disabled-color: var(--el-text-color-disabled);
  --el-calendar-body-cell-display-now-color: var(--el-text-color-primary);
  --el-calendar-body-cell-display-check-color: var(--el-text-color-secondary);
  --el-calendar-body-cell-check-bg-color: var(--el-brand-color-light);
  --el-calendar-body-cell-border-check-color: var(--el-brand-color);
  --el-calendar-card-body-cell-bg-hover: var(--el-bg-color-secondarycontainer-hover);
  --el-calendar-bg: var(--el-bg-color-container);
  --el-calendar-card-cell-value-check-color: var(--el-text-color-anti);
  --el-calendar-card-cell-value-check-bg: var(--el-brand-color);
  --el-calendar-card-head-row-bg: var(--el-bg-color-container);
  --el-calendar-cell-font-color: var(--el-text-color-primary);
  --el-calendar-body-cell-display-disabled-opacity: 0.16;
  --el-calendar-head-cell-font: var(--el-font-title-small);
  --el-calendar-card-body-cell-font: var(--el-font-body-medium);
  --el-calendar-table-cell-font: var(--el-font-title-small);
  --el-calendar-body-cell-display-font: var(--el-font-title-small);
  --el-calendar-card-body-cell-display-font: var(--el-font-body-medium);
  --el-calendar-head-title-font: var(--el-font-title-large);
  --el-calendar-full-padding: var(--el-comp-paddingTB-xxl) var(--el-comp-paddingLR-xxl);
  --el-calendar-control-padding: 0;
  --el-calendar-panel-margin-top: var(--el-comp-margin-xxxl);
  --el-calendar-head-margin-bottom: var(--el-comp-margin-s);
  --el-calendar-body-cell-padding: 0;
  --el-calendar-body-cell-margin-left: 0;
  --el-calendar-table-margin-right: var(--el-comp-margin-s);
  --el-calendar-footer-padding: var(--el-comp-paddingTB-xxl) var(--el-comp-paddingLR-xxl);
  --el-calendar-table-cell-padding: 0;
  --el-calendar-card-panel-padding: var(--el-comp-paddingTB-m) var(--el-comp-paddingLR-m);
  --el-calendar-card-calendar-control-padding: 0;
  --el-calendar-card-panel-margin-top: var(--el-comp-margin-m);
  --el-calendar-card-footer-padding: 0 var(--el-comp-paddingLR-m);
  --el-calendar-control-section-cell-margin-right: var(--el-comp-margin-s);
  --el-calendar-body-line-height: var(--el-line-height-body-medium);
  --el-calendar-header-row-padding: 0px;
  --el-calendar-card-body-cell-display-padding: calc(var(--el-comp-paddingTB-xxs) / 2);
  --el-calendar-control-margin-bottom: var(--el-comp-margin-xxxl);
  --el-calendar-panel-card-padding: var(--el-comp-paddingTB-m) var(--el-comp-paddingLR-m);
  --el-calendar-card-control-margin-bottom: var(--el-comp-margin-m);
  --el-calendar-full-min-width: 560px;
  --el-calendar-head-cell-height: 100%;
  --el-calendar-body-cell-height: 104px;
  --el-calendar-body-cell-content-min-height: 64px;
  --el-calendar-body-cell-content-padding: var(--el-comp-paddingTB-s) var(--el-comp-paddingLR-xs);
  --el-calendar-footer-height: 90px;
  --el-calendar-card-width: 280px;
  --el-calendar-card-calendar-panel-height-month: 200px;
  --el-calendar-card-calendar-panel-height-year: 168px;
  --el-calendar-card-footer-height: var(--el-comp-size-xxl);
  --el-calendar-section-height: 100%;
  --el-calendar-card-cell-size: 100%;
  --el-calendar-card-table-size: 100%;
  --el-calendar-card-cell-value-size: var(--el-comp-size-xs);
  --el-calendar-card-cell-value-size-year: var(--el-comp-size-xxl);
  --el-calendar-border-size: 2px;
  --el-calendar-body-row-flex: 1;
  --el-calendar-card-body-cell-display-border-radius: var(--el-radius-default);
  --el-calendar-scrollbar-thumb-border-radius: var(--el-radius-default);
  --el-calendar-card-checked-pointer-border-radius: var(--el-radius-medium);
  --el-calendar-transition-duration: 0.2s;
  --el-calendar-transition-property: border-top, background;
  --el-calendar-transition-timing-function: linear;
}
