/**
 * @component el-input-pro
 */
:root {
  --el-input-border-color-default: var(--el-border-level-2-color);
  --el-input-border-color-default-hover: var(--el-brand-color);
  --el-input-border-color-default-focus: var(--el-brand-color);
  --el-input-border-color-success: var(--el-success-color);
  --el-input-border-color-warning: var(--el-warning-color);
  --el-input-border-color-error: var(--el-error-color);
  --el-input-text-color-success: var(--el-success-color);
  --el-input-text-color-warning: var(--el-warning-color);
  --el-input-text-color-error: var(--el-error-color);
  --el-input-text-color-default: var(--el-text-color-primary);
  --el-input-text-color-readonly: var(--el-text-color-primary);
  --el-input-text-color-disabled: var(--el-text-color-disabled);
  --el-input-text-color-tips: var(--el-text-color-placeholder);
  --el-input-placeholder-color: var(--el-text-color-placeholder);
  --el-input-bg-color-default: var(--el-bg-color-specialcomponent);
  --el-input-bg-color-readonly: var(--el-bg-color-specialcomponent);
  --el-input-bg-color-disabled: var(--el-bg-color-component-disabled);
  --el-input-extra-color-default: var(--el-text-color-placeholder);
  --el-input-extra-color-success: var(--el-success-color);
  --el-input-extra-color-warning: var(--el-warning-color);
  --el-input-extra-color-error: var(--el-error-color);
  --el-input-append-color: var(--el-bg-color-secondarycontainer-hover);
  --el-input-limit-color: var(--el-text-color-placeholder);
  --el-input-fix-position: 8px;
  --el-input-padding-l: var(--el-comp-paddingTB-m) var(--el-comp-paddingLR-m);
  --el-input-padding-default: 0 var(--el-comp-paddingLR-s);
  --el-input-margin-distance-default: var(--el-comp-margin-xxxl);
  --el-input-status-position-right: -24px;
  --el-input-group-first-child-margin-left: -1px;
  --el-input-height-s: var(--el-comp-size-xs);
  --el-input-height-default: var(--el-comp-size-m);
  --el-input-height-l: var(--el-comp-size-xl);
  --el-input-inner-icon-font-size: inherit;
  --el-input-tips-min-height: var(--el-line-height-body-small);
  --el-input-inner-prefix-icon-color: var(--el-text-color-placeholder);
  --el-input-inner-suffix-icon-color: var(--el-text-color-placeholder);
  --el-input-inner-suffix-icon-color-hover: var(--el-text-color-secondary);
  --el-input-font-l: var(--el-font-body-large);
  --el-input-font: var(--el-font-body-medium);
  --el-input-font-s: var(--el-font-body-small);
  --el-input-extra-font: var(--el-font-body-small);
  --el-input-tips-font: var(--el-font-body-small);
  --el-input-border-radius: var(--el-radius-default);
  --el-input-box-shadow-color-default-focus: var(--el-brand-color-focus);
  --el-input-box-shadow-color-success-focus: var(--el-success-color-focus);
  --el-input-box-shadow-color-warning-focus: var(--el-warning-color-focus);
  --el-input-box-shadow-color-error-focus: var(--el-error-color-focus);
  --el-input-box-shadow-focus: 0 0 0 2px var(--el-input-box-shadow-color-default-focus);
  --el-input-inner-transition: border cubic-bezier(0.38, 0, 0.24, 1) 0.2s, box-shadow cubic-bezier(0.38, 0, 0.24, 1) 0.2s, background-color cubic-bezier(0.38, 0, 0.24, 1) 0.2s;
  --el-input-cursor-readonly: pointer;
}
