/**
 * @component el-radio-pro
 */
:root {
  --el-radio-border-color: var(--el-border-level-2-color);
  --el-radio-input-color: var(--el-bg-color-container);
  --el-radio-input-color-disabled: var(--el-bg-color-component-disabled);
  --el-radio-dot-color: var(--el-brand-color);
  --el-radio-dot-color-disabled: var(--el-bg-color-component-disabled);
  --el-radio-dot-color-disabled-checked: var(--el-text-color-disabled);
  --el-radio-label-color: var(--el-text-color-primary);
  --el-radio-button-border-color-default: var(--el-border-level-2-color);
  --el-radio-button-border-color-hover: var(--el-brand-color-hover);
  --el-radio-button-color-outline-hover: var(--el-brand-color-hover);
  --el-radio-button-border-color-checked: var(--el-brand-color);
  --el-radio-button-color-outline-checked: var(--el-brand-color);
  --el-radio-button-background-color-disabled: var(--el-bg-color-component-disabled);
  --el-radio-button-color-disabled: var(--el-text-color-disabled);
  --el-radio-button-background-color-outline-disabled-checked: var(--el-bg-color-specialcomponent);
  --el-radio-button-color-disabled-checked: var(--el-text-color-disabled);
  --el-radio-button-group-background-color-filled: var(--el-bg-color-component);
  --el-radio-button-color-filled: var(--el-text-color-secondary);
  --el-radio-button-color-filled-hover: var(--el-text-color-primary);
  --el-radio-button-color-default-filled-checked: var(--el-text-color-primary);
  --el-radio-button-color-primary-filled-checked: var(--el-text-color-anti);
  --el-radio-button-color-default-filled-disabled-checked: var(--el-text-color-disabled);
  --el-radio-button-background-color-default-filled-checked: var(--el-bg-color-container-select);
  --el-radio-button-background-color-primary-filled-checked: var(--el-brand-color);
  --el-radio-button-background-color-default-filled-disabled-checked: var(--el-bg-color-component-disabled);
  --el-radio-button-background-color-primary-filled-disabled-checked: var(--el-brand-color-disabled);
  --el-radio-size: 16px;
  --el-radio-dot-size: calc(var(--el-radio-size) / 2);
  --el-radio-margin-right: var(--el-comp-margin-xxl);
  --el-radio-button-border-radius: var(--el-radius-small);
  --el-radio-outline-height-small: var(--el-comp-size-xs);
  --el-radio-outline-height-medium: var(--el-comp-size-m);
  --el-radio-outline-height-large: var(--el-comp-size-xl);
  --el-radio-height-small: calc(var(--el-comp-size-xs) - (var(--el-comp-paddingTB-xxs) * 2));
  --el-radio-height-medium: calc(var(--el-comp-size-m) - (var(--el-comp-paddingTB-xxs) * 2));
  --el-radio-height-large: calc(var(--el-comp-size-xl) - (var(--el-comp-paddingTB-xxs) * 2));
  --el-radio-button-before-width: 1px;
  --el-radio-font: var(--el-font-body-medium);
  --el-radio-button-font-small: var(--el-font-body-small);
  --el-radio-button-font-medium: var(--el-font-body-medium);
  --el-radio-button-font-large: var(--el-font-body-large);
  --el-radio-input-label-spacer: var(--el-comp-margin-s);
  --el-radio-button-padding-small: 0px var(--el-comp-paddingLR-s);
  --el-radio-button-padding-medium: var(--el-comp-paddingTB-xs) var(--el-comp-paddingLR-l);
  --el-radio-button-padding-large: var(--el-comp-paddingTB-s) var(--el-comp-paddingLR-xl);
  --el-radio-button-before-left: 0px;
  --el-radio-button-before-top: 50%;
  --el-radio-button-border: 1px solid;
  --el-radio-group-padding: var(--el-comp-paddingTB-xxs) var(--el-comp-paddingLR-xxs);
  --el-radio-group-filled-bg-block-left: 2px;
  --el-radio-group-filled-bg-block-top: 2px;
  --el-radio-group-transition: all 0.2s cubic-bezier(0.38, 0, 0.24, 1);
  --el-radio-button-before-transition: translateY(-50%);
  --el-radio-button-transition: color 0.2s cubic-bezier(0, 0, 0.15, 1);
  --el-radio-input-transition: border 0.2s cubic-bezier(0, 0, 0.15, 1);
  --el-radio-opacity-transparent: 0;
  --el-radio-input-border: 1px solid var(--el-radio-border-color);
}
