/**
 * @component el-steps-pro
 */
:root {
  --el-steps-circle-height: 22px;
  --el-steps-circle-width: 22px;
  --el-steps-item-title-margin-bottom: var(--el-comp-margin-xs);
  --el-steps-item-description-margin: var(--el-comp-margin-xs);
  --el-steps-item-content-margin-top: var(--el-comp-margin-xs);
  --el-steps-item-content-margin-top-vertical: var(--el-comp-margin-xxs);
  --el-steps-item-margin-right: var(--el-comp-margin-s);
  --el-steps-item-icon-margin-right: var(--el-comp-margin-s);
  --el-steps-title-padding-right: var(--el-comp-margin-s);
  --el-steps-dot-item-icon-margin-bottom: var(--el-comp-margin-xs);
  --el-steps-item-content-margin-left-vertical: 0px;
  --el-steps-item-padding-bottom-vertical: var(--el-comp-margin-xxl);
  --el-steps-item-margin-bottom-vertical: 5px;
  --el-steps-item-icon-number-line-height: 1px;
  --el-steps-item-icon-number-line-width: 1px;
  --el-steps-item-icon-number-line-top: 35px;
  --el-steps-item-connector-line-width: calc(100% - 16px);
  --el-steps-title-line-height: 24px;
  --el-steps-description-line-height: 22px;
  --el-steps-dot-item-icon-height: 8px;
  --el-steps-dot-item-icon-width: 8px;
  --el-steps-item-icon-number-line-left: 11px;
  --el-steps-dot-anchor-position-top: 8px;
  --el-steps-dot-content-width: 140px;
  --el-steps-dot-connector-position-top-horizontal: 2.5px;
  --el-steps-dot-connector-position-left-horizontal: calc(var(--el-steps-dot-content-width) / 2 + 8px);
  --el-steps-dot-connector-position-top-vertical: 17px;
  --el-steps-dot-connector-position-left-vertical: 3.5px;
  --el-steps-dot-connector-position-left-vertical-reverse: 3.5px;
  --el-step-stroke-width: 1px;
  --el-steps-line-width: 2px;
  --el-steps-line-height: 2px;
  --el-steps-title-font-weight: normal;
  --el-steps-item-icon-font-size: var(--el-font-size-body-medium);
  --el-steps-item-t-icon-font-size-default: calc(var(--el-font-size-body-medium) + 10px);
  --el-steps-title-font-size-anchor: var(--el-font-size-body-large);
  --el-steps-description-font-size: var(--el-font-size-body-medium);
  --el-steps-default-step-icon-font-size: var(--el-font-size-body-large);
  --el-steps-item-content-text-align-horizontal: center;
  --el-steps-item-inner-align-items: center;
  --el-steps-description-color-default: var(--el-text-color-placeholder);
  --el-steps-description-color-finish: var(--el-text-color-secondary);
  --el-steps-description-color-process: var(--el-text-color-secondary);
  --el-steps-description-color-error: var(--el-text-color-secondary);
  --el-steps-title-color-default: var(--el-text-color-placeholder);
  --el-steps-title-color-finish: var(--el-text-color-primary);
  --el-steps-title-color-process: var(--el-brand-color);
  --el-steps-title-color-error: var(--el-error-color);
  --el-steps-item-icon-color: var(--el-text-color-placeholder);
  --el-steps-item-icon-border-color-default: var(--el-text-color-placeholder);
  --el-steps-item-icon-border-color-finish: var(--el-brand-color);
  --el-steps-item-icon-border-color-error: var(--el-error-color);
  --el-steps-item-icon-anchor-number-color-error: var(--el-error-color);
  --el-steps-item-icon-anchor-number-border-color-error: var(--el-error-color);
  --el-steps-item-icon-anchor-color: var(--el-brand-color);
  --el-steps-item-icon-anchor-color-error: var(--el-error-color);
  --el-steps-item-icon-dot-border-color-finish: var(--el-brand-color);
  --el-steps-item-icon-dot-bg-color-process: var(--el-brand-color);
  --el-steps-item-icon-dot-border-color-process: var(--el-brand-color);
  --el-steps-item-icon-dot-bg-color-error: var(--el-error-color);
  --el-steps-item-icon-dot-border-color-error: var(--el-error-color);
  --el-steps-item-icon-dot-border-color-default: var(--el-text-color-placeholder);
  --el-steps-item-icon-number-color-default: var(--el-text-color-placeholder);
  --el-steps-item-icon-number-color-process: var(--el-text-color-anti);
  --el-steps-item-icon-number-bg-color-process: var(--el-brand-color);
  --el-steps-item-icon-number-border-color-process: var(--el-brand-color);
  --el-steps-item-icon-number-color-error: #000;
  --el-steps-line-bg-color-horizontal-default: var(--el-text-color-placeholder);
  --el-steps-line-bg-color-horizontal-finish: var(--el-brand-color);
  --el-steps-line-bg-color-vertical-default: var(--el-text-color-placeholder);
  --el-steps-line-bg-color-vertical-finish: var(--el-brand-color);
  --el-steps-line-bg-color-vertical-process: var(--el-brand-color);
  --el-steps-line-dot-bg-color-vertical-default: var(--el-text-color-placeholder);
  --el-steps-line-dot-bg-color-vertical-finish: var(--el-brand-color);
  --el-steps-line-dot-bg-color-vertical-process: var(--el-brand-color);
}
