/**
 * @component el-textarea-pro
 */
:root {
  --el-textarea-placeholder-color: var(--el-text-color-placeholder);
  --el-textarea-text-color: var(--el-text-color-primary);
  --el-textarea-limit-color: var(--el-text-color-placeholder);
  --el-textarea-bg-color-default: var(--el-bg-color-specialcomponent);
  --el-textarea-bg-color-disabled: var(--el-bg-color-component-disabled);
  --el-textarea-color-text-disabled: var(--el-text-color-disabled);
  --el-textarea-border-color-success: var(--el-success-color);
  --el-textarea-border-color-warning: var(--el-warning-color);
  --el-textarea-border-color-error: var(--el-error-color);
  --el-textarea-text-color-success: var(--el-success-color);
  --el-textarea-text-color-warning: var(--el-warning-color);
  --el-textarea-text-color-error: var(--el-error-color);
  --el-textarea-text-color-tips: var(--el-text-color-placeholder);
  --el-textarea-height: var(--el-comp-size-xxxl);
  --el-textarea-tips-min-height: var(--el-comp-size-xs);
  --el-textarea-font: var(--el-font-body-medium);
  --el-textarea-tips-font: var(--el-font-body-small);
  --el-textarea-padding: calc(calc(var(--el-comp-size-m) - var(--el-line-height-body-medium)) / 2) var(--el-comp-paddingLR-s);
  --el-textarea-tips-gap: var(--el-comp-margin-s);
  --el-textarea-border-color: var(--el-border-level-2-color);
  --el-textarea-border-color-hover: var(--el-brand-color);
  --el-textarea-border-color-focus: var(--el-brand-color);
  --el-textarea-box-shadow-color-focus: var(--el-brand-color-focus);
  --el-textarea-box-shadow-color-success-focus: var(--el-success-color-focus);
  --el-textarea-box-shadow-color-warning-focus: var(--el-warning-color-focus);
  --el-textarea-box-shadow-color-error-focus: var(--el-error-color-focus);
  --el-textarea-border-radius: var(--el-radius-default);
}
