/**
 * @component el-tree-pro
 */
:root {
  --el-tree-node-text-color: var(--el-text-color-primary);
  --el-tree-node-empty-text-color: var(--el-text-color-disabled);
  --el-tree-node-bg-hover-color: var(--el-bg-color-container-hover);
  --el-tree-node-text-active-color: var(--el-text-color-primary);
  --el-tree-node-icon-active-color: var(--el-text-color-brand);
  --el-tree-node-bg-active-color: var(--el-brand-color-light);
  --el-tree-node-icon-color: var(--el-text-color-secondary);
  --el-tree-node-icon-line-color: var(--el-border-level-1-color);
  --el-tree-disabled-color: var(--el-text-color-disabled);
  --el-tree-icon-disabled-color: var(--el-tree-node-icon-color);
  --el-tree-font: var(--el-font-body-medium);
  --el-tree-font-size: var(--el-font-size-body-medium);
  --el-tree-font-line-height: var(--el-line-height-body-medium);
  --el-tree-node-padding-basic: var(--el-comp-margin-xxl);
  --el-tree-node-item-padding-left: calc(var(--el-tree-node-padding-basic) * var(--level));
  --el-tree-node-item-padding: var(--el-comp-paddingTB-xs) 0 var(--el-comp-paddingTB-xs) var(--el-tree-node-item-padding-left);
  --el-tree-line-position-bottom: var(--el-comp-margin-l);
  --el-tree-line-position-left: calc(var(--el-tree-node-padding-basic) * var(--level) - var(--el-comp-margin-l));
  --el-tree-label-margin-left: var(--el-comp-margin-xs);
  --el-tree-label-padding: var(--el-comp-paddingTB-xxs) var(--el-comp-paddingLR-xs);
  --el-tree-line-width: 1px;
  --el-tree-node-item-height: calc(var(--el-comp-size-m) + 2px);
  --el-tree-line-before-width: var(--el-comp-margin-m);
  --el-tree-line-leaf-width: var(--el-comp-margin-m);
  --el-tree-line-first-height: var(--el-tree-font-line-height);
  --el-tree-node-item-origin-height: calc(var(--el-tree-node-item-height) * var(--hscale) + 0px);
  --el-tree-node-icon-size: calc(var(--el-tree-font-size) + 2px);
  --el-tree-node-animation-time: 300ms;
  --el-tree-node-transition-time: 150ms;
  --el-tree-node-drag-tip-height: 2px;
  --el-tree-node-drag-tip-bg: var(--el-brand-color);
  --el-tree-node-drag-bg-highlight: var(--el-brand-color-light);
}
