.el-upload__preview .el-upload,
.el-upload__preview .el-icon--close {
  display: none !important;
}

.el-upload__preview .el-upload-list {
  margin: unset;
}

.cw-upload{
  border: 1px solid transparent;
}