.el-select .el-input__wrapper.el-input__wrapper {
  padding: 1px 10px;
}
.el-select .el-input__inner.el-input__inner {
  padding: 0;
}
.el-select {
  --el-select-width: 240px;
}
.el-select-dropdown__item {
  height: auto;
}


.el-select.el-select-preview .is-disabled.el-select__wrapper {
  background-color: transparent;
  box-shadow: none;
  cursor: initial;
  >*:not(.el-select__selection) {
    /* 样式 */
    display: none;
  }
  .el-select__placeholder {
    color: var(--el-text-color-regular);
  }
}
