.van-checkbox-group-preview {
  .van-checkbox {
    margin-right: 0;
  }
  .van-checkbox__icon {
    display: none;
  }
  .van-checkbox__label {
    color: #000;
    cursor: default;
    margin-left: 0;
  }
  .van-checkbox:not(:last-child) .van-checkbox__label::after {
    content: ',';
  }
}
